<div class="event_page-wrapper">
  <div class="event_main-heading">Thankful for Education</div>

  <p>A photo contest from the Alliance for Creative Excellence.</p>

  <p>Here are the 2019 winners from our Knoxville-area photographer/students celebrating
    the <strong>great gift of education</strong>.</p>

  <div><img src="assets/images/photo-contest-2019/IMG_4695.jpg"></div>
  <div class="event_secondary-heading">
      <p>Best in Show:</p>
      <p class="accent-text">{{'Ellie Milligan' | uppercase}}</p>
      <p>Grace Christian Academy - 10th Grade</p>
  </div>

  <p>Here’s what Ellie says about her beautiful photo:</p>

  <p class="quote accent-text">Throughout my (10) years at Grace,I have come to love our school spirit.
    The ram statue (located beside our football field) represents our unity, strength, and
    dignity on and off the field. I am proud to be a ram.</p>

  <p>Ellie, we love your artistic and creative photo. Thanks for entering our contest. Ellie wins a <strong>$100 Target gift card</strong>.</p>
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <img src="assets/images/photo-contest-2019/Screenshot+from+2019-11-19+20-03-16.png.jpg">
  <div class="event_secondary-heading">
      <p>Excellent Achievement:</p>
      <p class="accent-text">{{'Ella Pinchok' | uppercase}}</p>
      <p>Farragut High School - 9th Grade</p>
  </div>

  <p>Here’s how Ella describes her entry:</p>

  <p class="quote accent-text">While I don’t always love all my classes, seeing the sunrise spread
    across the buildings in the morning always brings a smile and reminds me to be thankful for
    all of our staff and administrators.</p>

  <p>Great picture and great thoughts. Thank you, Ella, for entering our photo contest. Ella wins a <strong>$50 Target gift card</strong>.</p>
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <img src="assets/images/photo-contest-2019/image0.jpg">

  <div class="event_secondary-heading">
      <p>Excellent Achievement:</p>
      <p class="accent-text">{{'Alex Montgomery' | uppercase}}</p>
      <p>Grace Christian Academy - 9th grade</p>
  </div>

  <p>Alex writes:</p>

  <p class="quote accent-text">Education gave me Ria. Everyone complains about school and having to undergo
    academic events but other people don’t have Ria. Ria made education fun for me, little did I know color
    coding my Amazon-bought academic planner would actually be fun. But then again little did I know anything
    I do, whatever I do, would be better with Ria. I can only thank education for letting me be with her!</p>

  <p>Alex wins a <strong>$50 Target gift card</strong> for this unconventional entry. Thank you, Alex, for
    entering our photo contest, and all the best to you and Ria!</p>

    <p><a [routerLink]="['/events/singer-songwriter']">*</a></p>

</div>
