#footer-wrapper {
  min-height: 100px;
  background-color: black;
  color: white;
  width: 100vw;
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
  font-size: .85rem;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;

  a, a:visited {
    color: white;
    outline: none;
  }

  .underline {
    border-bottom: 1px solid white;
  }
}
