#footer-wrapper {
  height: 165px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
  font-size: .85rem;


  a, a:visited {
    color: white;
    outline: none;
  }

  .underline {
    border-bottom: 1px solid white;
  }

  .fa {
    margin-right: 1rem;
    position: relative;
    top: -15px;
  }

  #icon-row, form {
    display: inline-block;
    position: relative;
    top: 15px;

    .higher {
      top: -18px;
      position: relative;
    }
  }
 }
