<div id="footer-wrapper">
  <p>ACE: Alliance for Creative Excellence
  <br />234 Morrell Rd #189 | Knoxville, TN 37919
  <br /><a href="mailto:jay@aceknox.com">jay@aceknoxcom</a> | (865) 599-6710</p>
  <p class="pointer"
    [routerLink]="['/about/email']" routerLinkActive="router-link-active">
    <span class="underline">Sign up for email updates</span>
  </p>
  <div id="icon-row">
    <a href="https://www.instagram.com/knoxaceawards/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://www.facebook.com/aceknoxawards" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://www.paypal.com/donate?hosted_button_id=2N2ERBUC223SW" target="_blank" class="higher"><button mat-flat-button color="accent">Donate</button></a>
  </div>
</div>
