<div class="event_page-wrapper">

    <div class="event_main-heading"> ACE Theatre Awards</div>
    <div class="event_secondary-heading accent-text">
        Done virtually
    </div>

  
    <hr>

    <div id="grid1">
        <img class="actor block1" src="assets/images/acting_2019/a13.jpg">
        <div class="block2">
            <div class="event_secondary-heading bold">Three Categories</div>
            <p class="accent-text bold">Musical Theatre, Modern Monologue, Shakespeare Monologue</p>
            <p class="accent-text bold">For Grades 9-12</p>
            <p class="event_secondary-heading bold accent-text less-margin">$500 Award</p>
            <div>for the winner ($250 for their school)</div>
            <div class="button-row">
                <button mat-flat-button color="accent" (click)="goToForm()">Sign up</button>   
            </div>
        </div>
    </div>
    
    <hr>
    
    <div class="event_secondary-heading bold">Dates</div>

    <p>
        <span class="bold">Round 1:</span> Submit the link to your best 1 minute theatre video by May 1
        <!-- <span class="bold">Due: September 30, 2020 - 11:59pm (Eastern Time)</span>  -->
    </p>
    <p>
        <span class="bold">Finals:</span> Finalists will work with judges online. Winners will be
        announced by late May.
        <!-- <span class="bold">Due: October 9, 2020 - 11:59pm (Eastern Time)</span>  -->
    </p>
    <p>
        <span class="bold">Read full rules below.</span>
        <!-- <span class="bold">Dates: October 19-21, 2020 </span>  -->
    </p>


    <hr>

    <div>
        <img class="actor block1" src="assets/images/drama-flyer.jpg">

        
    </div>

    <p>
        For any questions, please contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a>.
    </p>
    <p>
        Thank you and best of luck. 
    </p>

    <div class="button-row">
        <button mat-flat-button color="accent" (click)="goToForm()">Sign up now!</button>   
    </div>

</div>
