<mat-card>
    <div class="event_page-wrapper">
        <div class="event_secondary-heading" id="courtney-lucien">ACE Interviews: <span class="accent-text">Chelsea LeValley</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mSt1yReKHbU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
            Chelsea LeValley talks with Jay about getting started and the need for many skills        </p>

        <div>
            Chelsea LeValley is a diverse theatre professional. She has worn almost every hat, from actor, director, writer, 
            and stage manager. She is based in Seattle, but has performed all over the country. She is most known for being 
            in the original production of Come From Away. Jay sits down to talk career advice and the importance of having 
            diverse skills in theatre.
            <div class="accent-text smaller-text"><a href="https://www.chelsealevalley.com/" target="_blank">chelsealevalley.com</a> --05.19.2020</div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="event_secondary-heading" id="courtney-lucien">ACE Interviews: <span class="accent-text">Kim Martin-Cotten</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/roSSgWz74fo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
            Kim Martin-Cotten sits down with Jay to discuss her extensive theatre career        </p>

        <div>
            Kim Martin-Cotten is an award winning actress having appeared in theatres across the country, from Broadway to Chicago, LA to Louisville, to many places in between. Listen to her fascinating story, 
            including one in which she got to put Al Pacino in his place (in character, of course).
            <div class="accent-text smaller-text"><a href="https://www.hangatale.org/" target="_blank">hangatale.org</a> --05.14.2020</div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>
        <div class="event_secondary-heading" id="courtney-lucien">ACE Interviews: <span class="accent-text">Matt Lytle</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MQX-_1BsIH4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
             Professional actor Matt Lytle speaks with Jay about the work
        </p>

        <div>
            Matt Lytle, a former student of Jay's, has had an extensive career already at the young age of 31. 
            He is a graduate of Boston University Conservatory and has a graduate degree from Brown University. 
            Along the way he has been all over the country playing roles - some of which are  Shakespeare's greatest characters.
            <div class="accent-text smaller-text"><a href="https://www.mattlytleactor.com" target="_blank">mattlytleactor.com</a> --05.13.2020</div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="event_secondary-heading" id="courtney-lucien">ACE Interviews: <span class="accent-text">Courtney Lucien</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PHyDaHhmEwM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
             Jay interviews professional Shakespearean actor Courtney Lucien
        </p>

        <div>
            Courtney Lucien is a Midwest-based actor, singer, and voice-over artist (and Jay's former student).
            She has an extensive list of credits with the Cincinnati Shakespeare Company, and is a graduate of Indiana University.
            <div class="accent-text smaller-text"><a href="https://courtneylucien.com" target="_blank">courtneylucien.com</a> --05.09.2020</div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="event_secondary-heading" id="alan-gratz">ACE Interviews: <span class="accent-text">Alan Gratz</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/u-u204gfOe8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
            Jay interviews prolific local author Alan Gratz about his process and ideas
        </p>

        <div>
            Alan Gratz is an Asheville-based Knoxville native and UT grad who has written sixteen books for young readers, including <span class="accent-text">
                Samurai Shortstop</span>, <span class="accent-text">
                    The Brooklyn Nine</span>, and <span class="accent-text">
                        Refugee</span> which spent more than a year on the New York Times bestseller list.
            <div class="accent-text smaller-text"><a href="https://alangratz.com" target="_blank">alangratz.com</a> --05.03.2020</div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="event_secondary-heading" id="four-perspectives">ACE Interviews: <span class="accent-text">Musical Theatre</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CMcRR3vgm04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
             Musical Theatre: Four perspectives, from high school to Broadway
        </p>

        <div>
            Jay gets the scoop on life in Musical Theatre with four talented actors at four different 
            stages of their careers: A high school lead, a college Freshman, a college Senior and a professional. <span class="smaller-text accent-text">--04.22.2020</span>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="event_secondary-heading" id="lily-kate-corley">ACE Tutorial: <span class="accent-text">Shakespeare Monologue</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KWh2L95TP80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
            Jay works with Lily Kate Corley on a Shakespeare monologue
        </p>

        <div>
            Jay works with Lily Kate Corley on a Shakespeare monologue, explaining how to start 
            and the different ways to approach and perform it. <span class="smaller-text accent-text">--04.21.2020</span>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>
        
        <div class="event_secondary-heading" id="kate-arrington">ACE Interviews: <span class="accent-text">Kate Arrington</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RyOsnzQ7lZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p [style.margin-bottom.px]="20" class="announcement">
            Kate Arrington sits down with ACE's director Jay Apking to talk acting. 
        </p>

        <div>
            Kate Arrington has been an ensemble member of the <span class="accent-text">legendary Steppenwolf Theatre Company</span> 
            since 2007. She has appeared on Broadway in <span class="accent-text">Our Mother's Brief Affair</span>, 
            <span class="accent-text">Grace</span>, and <span class="accent-text">The American Plan</span>. Kate's recent film and 
            television credits include the Amazon Original film <span class="accent-text">Brittany Runs a Marathon</span> and 
            Martin Scorcese's <span class="accent-text">The Irishman</span>, as well as <span class="accent-text">Madam 
            Secretary</span>, <span class="accent-text">The Good Wife</span>, <span class="accent-text">The Blacklist</span> 
            and many others.
        </div>
            
        <div>She is a graduate of Northwestern University and the creator of Steppenwolf's <span class="accent-text">88-Seat 
            Project</span> which brings ensemble members together with teens across Chicago for a weekend each summer.
            <span class="smaller-text accent-text">--04.20.2020</span>
        </div>
    </div>
</mat-card>