<div class="event_page-wrapper">
  <div class="event_secondary-heading">ACE <span class="accent-text">Singing Contest</span> 2021</div>
  <p>
    <span class="bold">Here are the entries from our FINALISTS</span>. Vote for your favorite here by 
    <span class="accent-text bold">Saturday, May 15 at 9:00pm EDT</span>. We have some gift certificates for the audience favorite. 
    You should be able to vote about once a day.
  </p>

  <p>NOTE: this page is to select an audience favorite. As for the main contests, the judges will
    announce a winner on <span class = "bold">Sunday, May 16</span>.
  </p>
  <!-- <p id="voting" (click)="openDialog()">Trouble voting?</p> -->
  <div class="spacer"></div>
  <div class="accent-text bold">Find an artist</div>
  <div id="chips">
  <mat-chip-list>
      <mat-chip 
        color="primary"
        selected
        *ngFor="let contestant of videoArray"
        (click)="scrollToElement(contestant.id)"
      >
      {{ contestant.name }}
      </mat-chip>
  </mat-chip-list>
</div>
<div class="spacer"></div>

<!-- <p [style.margin-bottom.px]="20" class="announcement">
  Judges' Prize: Marian Vacaliuc - $150
</p> -->
<div class="video-container" id="brady">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/yFelaM4icLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="artist"><span class="bold accent-text">Brady Pinchok</span> - 6th Grade - Farragut Middle School</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="brady" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
<span class="follow">Vote for Brady</span>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div class="video-container" id="joey">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UIhOjkYmVjc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="artist"><span class="bold accent-text">Joey Nieman</span> - 7th Grade - Farragut Middle School</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="joey" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
<span class="follow">Vote for Joey</span>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div class="video-container" id="phillip">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/H8YeyXF8NX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="artist"><span class="bold accent-text">Phillip Taylor</span> - Junior - Grace Christian Academy</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="phillip" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
<span class="follow">Vote for Phillip</span>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div class="video-container" id="ella">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oh5fMdbQh_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="artist"><span class="bold accent-text">Ella Pinchok</span> - Sophomore - Farragut High School</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt2" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="ella" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
  <span class="follow">Vote for Ella</span>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div class="video-container" id="sophia">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YpbZPJh7jjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="artist"><span class="bold accent-text">Sophia Newton</span> - 8th Grade - Grace Christian Academy</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="sophia" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
<span class="follow">Vote for Sophia</span>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div class="video-container" id="hannah">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fGY2x6SJ3hQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="artist"><span class="bold accent-text">Hannah Johnson</span> - Senior - Grace Christian Academy</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="hannah" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
<span class="follow">Vote for Hannah</span>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div class="video-container" id="emily">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0cHnMJSFZSY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="artist"><span class="bold accent-text">Emily Caroline Thomas</span> - 9th Grade - Maryville Junior High School</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="emily" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
<span class="follow">Vote for Emily</span>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>
  
  <div class="video-container" id="jasmyne">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/El8yrUkn8IM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Jasmyne Simpkins</span> - Junior - Home School</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="jasmyne" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
  <span class="follow">Vote for Jasmyne</span>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="video-container" id="maddy">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/q_i_IHTUwic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Maddy Dishner</span> - Senior - Central High School</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="maddy" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
  <span class="follow">Vote for Maddy</span>
  
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="video-container" id="mary">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/u1ht4hf32lg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
   </div>
  <div class="artist"><span class="bold accent-text">Mary Claire Carter</span> - Junior - Farragut High School</div>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt7" data-icon_l_c="#bb2d53" data-icon_l_c_v="#000000" data-identifier="mary_claire" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false" data-voting_frequency="85000" data-site_id="5e151493943ec9fb10be9a79"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
  <span class="follow">Vote for Mary Claire</span>
  
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>
  
</div>
  