<div class="event_page-wrapper">
    <div class="event_secondary-heading">ACE <span class="accent-text">Safer@Home</span> Shakespeare Contest</div> 
    <p [style.margin-bottom.px]="20" class="announcement">
      For students through grade 12 in Knox County, Tennessee and surrounding counties. 
    </p>
    <div>
        <img src="assets/images/safe@home2020/shakespeare.jpg" alt="Girl playing a keyboard">
    </div>
    <div class="photo-credit">Photo by Jessica Pamp on Unsplash</div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div class="bold accent-text">Happy Birthday William Shakespeare!</div>
    <div>
        To celebrate William Shakespeare's Birthday on April 23rd, ACE will hold a <span class="bold accent-text">Safer@home Shakespeare Monologue Contest</span>.
        Below are four monologues to choose from. Pick one. Video yourself performing it. Post the video to YouTube, then fill
        out the form below. Deadline is <span class="blod accent-text">April 23rd</span>. 
    </div>
    <div class="spacer"></div>
    <p class="bold">Choose one of these four monologues (click the links below to see the monologues):</p>
    <ul>
        <li><a href="https://www.backstage.com/monologues/william-shakespeare/othello/738/" target="_blank">Emilia - Othello</a> (start with "But I do think)</li>

        <li><a href="https://poets.org/poem/merchant-venice-act-iv-scene-i-quality-mercy-not-strained" target="_blank">Portia - Merchant of Venice</a></li>
        <li><a href="https://www.poetryfoundation.org/poems/56965/speech-to-be-or-not-to-be-that-is-the-question" target="_blank">Hamlet - Hamlet</a></li>
        <li><a href="https://www.stagemilk.com/benedick-monologue-act-2-scene-3/" target="_blank">Benedick - Much Ado About Nothing</a></li>
 
    </ul>
    <div class="spacer"></div>


    <div>
        
        We will post your videos on our website and judges will select the top two monologues. (No audience voting for this contest). 
        Each winner will receive a <span class="bold">$100 gift card</span>.
        
        Contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a> for any questions.
    </div>



    <div class="spacer"></div>
    
    <div>Videos are due by  <span class="accent-text bold">9:00pm on Thursday, April 23, 2020</span>. 
    Winners will be announced shortly after that.</div>
    <div class="spacer"></div>

    <form [formGroup]="signUpForm" #formDirective="ngForm"
        (ngSubmit)="onSubmit(signUpForm, formDirective)"
        id="signUpForm">
        <div formGroupName="userData">
            <div class="form-group">
                <mat-form-field>
                    <input matInput type="text" id="name" formControlName="name" class="formcontrol" placeholder="Name" required>
                    <mat-error *ngIf="!signUpForm.get('userData.name').valid && signUpForm.get('userData.name').touched"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" id="age" placeholder="Age" formControlName="age" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput type="text" id="grade" placeholder="Grade in school" formControlName="grade" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" id="school" placeholder="Name of your school" formControlName="school" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput type="text" id="email" placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="signUpForm.get('userData.email').invalid">Enter a valid email address</mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="form-group"> -->
                <mat-form-field class="wide">
                    <textarea matInput type="textarea" id="link" placeholder="Link to your video" formControlName="link" required></textarea>
                </mat-form-field>
            <!-- </div> -->

        </div>
        <div class="spacer"></div>
        <button mat-flat-button color="primary" type="submit" [disabled]="!signUpForm.valid || waiting">SUBMIT</button>
        <div class='progress-bar' *ngIf="waiting">
            <mat-progress-bar mode="indeterminate" color="accent" ></mat-progress-bar>
        </div>
        <div id="message">
            <div *ngIf="submitted && !signUpForm.touched" class="help-block">{{submitMsg}}</div>
            <div *ngIf="submitError" class="error">{{errorMsg}}</div>
        </div>
    </form>
    <div class="spacer"></div>

    <div class="note"><span class="accent-text bold">*</span>Please observe all current recommendations about social distancing. This is designed to be an 
        individual contest which does not require a gathering of people.</div>
    <div class="spacer"></div>

  </div>
  