<div class="event_page-wrapper-photos">
    <div class="text-wrapper">
        <!-- <div class="event_secondary-heading">Matt Lytle</div> 
        <p [style.margin-bottom.px]="20" class="announcement">
            Banner text goes here if we use the banner :) 
        </p> -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxFlex="30" fxFlex.sm="100">
                <img class="img-matt" src='assets/images/coaches/matt_lytle.jpg'>    
            </div>
            <div fxFlex="60" fxFlex.md="70" fxFlex.sm="100"  class="bio">
                <p><span class="event_secondary-heading accent-text bold">Matt Lytle</span> is an actor and teacher currently 
                residing in NYC. He holds his <span class="accent-text bold">BFA in Theatre Arts from <i>Boston University</i></span>. 
                While pursuing his BFA, he spent a semester studying Shakespeare and Restoration Acting at the 
                <span class="accent-text bold"><i>London Academy of Music and Dramatic Art</i></span>. 
                He holds his <span class="accent-text bold">MFA in Acting from <i>Brown University</i></span>. 
                As an actor, he has performed for regional 
                theatre companies in Louisville, Cincinnati, Nashville, St. Louis, Providence, Saratoga Springs and 
                <span class="accent-text bold">recently played Romeo in <i>Romeo & Juliet</i></span> at the Alabama Shakespeare Festival. He has a particular love 
                of Shakespeare and has performed in 19 professional Shakespeare productions. </p>
                <p><span class="bold">As a teacher</span>, he has lead 
                workshops/camps across the country, taught an undergraduate acting course at Brown University and is a private 
                acting coach in NYC.</p>
            </div>
        </div>
        <div [routerLink]="['../']" class="pointer">Return to coaching page</div>
    </div>
</div>

