
<div class="event_page-wrapper">
  <div><span class="bold accent-text">2019 Donors:</span> ACE is incredibly grateful
    for the support of the following people:</div>
  <div class="spacer"></div>
  <div *ngFor="let item of ACEdonors">
    <p class="event_main-heading">{{item.name}}</p>
    <p class="event_secondary-heading accent-text">{{item.amount}}</p>
    <p *ngFor="let donor of item.donors" class="donor">{{donor}}</p>
    <div class="spacer"></div><div class="spacer"></div>
  </div>
</div>
