<div class="event_page-wrapper-photos">
    <div class="text-wrapper">
        <!-- <div class="event_secondary-heading">Matt Lytle</div> 
        <p [style.margin-bottom.px]="20" class="announcement">
            Banner text goes here if we use the banner :) 
        </p> -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxFlex="40" fxFlex.sm="100">
                <img class="coach" src='assets/images/coaches/anna_smith600.jpg'>    
            </div>
            <div fxFlex="60" fxFlex.sm="100"  class="bio">
                <p><span class="event_secondary-heading accent-text bold">Anna Catherine Smith</span> is a recent graduate of the 
                    <span class="accent-text bold">BFA Musical Theatre program 
                    at Pace University</span>. Favorite credits include: <span class="accent-text bold">Belle in <i>Beauty and the Beast</i>,
                    Ariel in <i>The Little Mermaid</i></span> (Timber Lake Playhouse), 
                    <span class="accent-text bold">Philoclea in <i>Head Over Heels</i></span> (Pace University), and 
                    <span class="accent-text bold">Hope Cladwell in <i>Urinetown</i></span> (Oak Ridge Playhouse). In addition to 
                    theater, Anna has been seen numerous times on <span class="accent-text bold"><i>Saturday Night Live</i> 
                    (NBC) and <i>Snapped: Killer Couples</i> (Oxygen).</span> </p>
                    <p>When Anna 
                    is not performing, she is <span class="accent-text bold">coaching middle and high school theater students who have the passion and drive to follow their dreams</span>. 
                    Anna's previous coaching experience includes working with the <span class="accent-text bold">ACE/Bijou Awards at 
                    the Bijou Theater with Jay Apking</span>. </p>
                <p>Please visit <a href="https://annacatherinesmith.com/" target="_blank">Anna's website</a> to learn more about her work. </p>

            </div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="video-intro">
            Learn more about Anna, her education, career and process in this interview with ACE's director Jay Apking.
        </div>

        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AxCqzy7p3go" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="class-grid">
    
            <div class="class-header">
                <h4 class="accent-text">Musical Theatre with Anna Catherine Smith</h4>
                <div class="class-subtitle accent-text bold">Sing out, Louise! Perfecting your musical theater piece with Anna</div>
                <p>A great musical theater song is key to having a successful audition. Let Anna help you choose, present,
                     and take your musical theater performance to the next level.
                </p>
            </div>

            <div class="class-weekly">
                <h6><span class="bold">Weekly Layout:</span></h6>
                    <p><span class="bold">WEEK 1:</span> Introductions and Song Choices</p>
                    <p><span class="bold">WEEK 2:</span> Table Work - Breaking the song down with the <span class="accent-text bold">ACE formula</span></p>
                    <p><span class="bold">WEEK 3:</span> First Read and Work-through</p>
                    <p><span class="bold">WEEK 4:</span> Physicality / Coaching Day</p>
                    <p><span class="bold">WEEK 5:</span> Final Performance - A Polished Piece with Final Feedback</p>
                
            </div>
            <div class="class-dates-times">
                <h6><span class="bold">Session 1:</span></h6>
                <p>Mondays on Zoom</p>
                <p class="accent-text bold">July 6 - August 3</p>
                <p>6:30pm-8pm EDT</p>
                <p class="bold">$75 entry fee <span class="accent-text bold">($49 thru June 20)</span></p>
                <p>Maximum: 4 participants</p>
                <button mat-flat-button color="accent" class="register" [routerLink]="['../checkout/anna']">Register now</button>
            </div>
        </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

        <div [routerLink]="['../']" class="pointer">Return to coaching page</div>
    </div>
</div>
