.coach {
    width: 100%;
    height: auto;
    max-width: 350px;
}
.bio {
    text-align: left;
}

mat-card {
    max-width: 500px;
    margin-bottom: 15px;
    background: rgb(226, 226, 226);
    position: relative;
}

.name {
    font-weight: 500;
    font-size: 1.7rem;
}

.ace {
    position: absolute;
    bottom: 30px;
    left: 15px;
}

.description {
    font-size: 1.3rem;
    margin: 0 auto 1.2rem auto;
    width: 85%;
    text-align: left;
}


#coaches-grid {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    grid-gap: 8px;
}

@media (max-width: 959px) {
    .bio {
        width: 80%;
        margin: 0 auto;
    }
    .description {
        width: 100%;
    }
}

@media (max-width: 899px) {
    #coaches-grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 500px) {
    #coaches-grid {
        grid-template-columns: auto;
    }
    .name {
        font-size: 2rem;
    }
    .ace {
        bottom: 25px;
    }
}

.class-grid {
    display: grid;
    grid-row-gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    grid-template-columns: 55% 45%;
    grid-template-areas: "header header"
                         "weekly dates-times";
}

.class-header {
    grid-area: header;
}

.class-weekly {
    grid-area: weekly;
    text-align: left;
    padding: 10px;
    padding-right: 50px;
    border-right: 1px solid black;
}

.class-dates-times {
    grid-area: dates-times;
    padding: 10px;
}

.register {
    margin-top: 10px;
}

.video-intro {
    max-width: 500px;
    margin: 1rem auto;
    font-size: smaller;
}

@media (max-width: 649px) {
    .class-grid {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header"
                             "weekly"
                             "dates-times"
    }
    .class-weekly {
        border-right: unset;
        background: lightgrey;
    }
}


@media (max-width: 585px) {
    iframe {
        max-width: 80%;
        max-height: 80%;
    }
}