<div class="gallery_page-wrapper">
  <div class="event_main-heading">ACE <span class="accent-text">TRAINING & CONTEST</span></div>

  <div class="description">
    <p>Most artists know how to perform, but not how to <span class="accent-text bold">audition</span>. This is a skill that 
      is <span class="accent-text bold">critical to a performer who wants to work or get bigger and better roles</span>.</p>

    <p>ACE is beginning <span class="accent-text bold">MONOLOGUE and MUSICAL THEATRE</span> online classes. 
      These small (limit: 4 students) Zoom classes will give you the opportunity to perfect your monologue
       or song with direct personal coaching from your expert teacher and feedback from your group.</p>
  </div>

  
    <div id="coaches-grid">
      <mat-card class="card pointer" *ngFor="let item of coaches; index as i"
          [routerLink]="[item.link]">
          <img class="coach" mat-card-image src="{{item.photo}}">
          <!-- <img class="ace" src="/assets/images/ace.png" height="auto" width="15%"> -->
          <p class="name">
              <span class="accent-text">{{item.firstname | uppercase}}<br /></span> {{item.lastname}}
          </p>
          <p class="small">{{item.class}}</p>
      </mat-card>
    </div>

    <h6><span class="accent-text bold">Click on any coach to learn more and sign up.</span></h6>

    <div class="description">
      <p>
        Registration is <span class="bold">$75</span> for the 5-week classes.  Each class will culminate with a final performance and a tutorial on how to submit 
        your audition where you will be <span class="accent-text bold">entered to win $500 for Best Monologue or Best Musical Theatre Song in our 
        <span routerLink="/national" class="accent-text bold pointer underline">national contest</span></span>.
        </p>
       
        <p>BTW, anyone can take these classes but the contest is limited to students age 18 or under. </p>
        
      <p>
        The various teachers you see on this page have a wide background in <span class="accent-text bold">performance, education, and expertise</span>. 
        We have combined to perform in almost every state and in multiple countries, and based on our <span class="accent-text bold">knowledge</span>, 
        we now join forces to develop a <span class="accent-text bold">teaching formula</span> that works perfectly for any audition 
        including <span class="accent-text bold">monologues, songs or readings</span>.
      </p>
      <p>
        <span class="accent-text bold">First and foremost</span>, we will help you pick the pieces that are right for 
        <span class="accent-text bold">YOU</span>, or help 
        you with the specific pieces you have been given to prepare.
      </p>
      <p>
        We then delve into our <span class="accent-text bold">formula</span> which includes the <span class="accent-text bold">understanding</span>, 
        the <span class="accent-text bold">focus</span>, the <span class="accent-text bold">objective</span>, and the <span class="accent-text bold">tactics</span> 
        of <span class="accent-text bold">YOU</span> in the piece.
      </p>
      <p>
        We then add the layers of character including the <span class="accent-text bold">who, where, when and how</span> that will make your piece stand out.
      </p>
      <p>
        Finally, we turn our attention on the <span class="accent-text bold">guidelines</span> of entering the audition, auditioning, and leaving the audition. 
      </p>
      <p>
        This <span class="accent-text bold">formula</span>, which has come from decades of auditioning, directing and coaching, will give you the 
        <span class="accent-text bold">complete preparation</span> you need to unleash your talent in an audition.
      </p>      
      <p>
      We have seen and made many mistakes in our careers. We know what directors and colleges want to see. Let us help you 
      <span class="accent-text bold">perfect this important skill of auditioning</span>.
      </p>   
      <p>
        If you would prefer private coaching, that is also available and would still allow you to be eligible 
        for the contest. Please contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a> for more information on a private coach.
      </p>

    </div>
  </div>


