    <button *ngIf="!wide else fullMenu"
      id="hamburger-button"
      mat-icon-button
      [matMenuTriggerFor]="topLevel">
      <mat-icon id="hamburger-icon">menu</mat-icon>
    </button>

    <mat-menu #topLevel="matMenu">
      <button mat-menu-item [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
      <button mat-menu-item [matMenuTriggerFor]="auditions">Events</button>
      <button mat-menu-item [matMenuTriggerFor]="features">Features</button>
      <!-- <button mat-menu-item [matMenuTriggerFor]="coaching">Coaching</button> -->
      <button mat-menu-item [matMenuTriggerFor]="galleries">Galleries</button>
      <button mat-menu-item [matMenuTriggerFor]="about">About ACE</button>
    </mat-menu>

    <ng-template #fullMenu>
      <div id="full-menu">
        <button mat-menu-item [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
        <button mat-menu-item [matMenuTriggerFor]="auditions">Events</button>
        <button mat-menu-item [matMenuTriggerFor]="features">Features</button>
        <!-- <button mat-menu-item [matMenuTriggerFor]="coaching">Coaching</button> -->
        <button mat-menu-item [matMenuTriggerFor]="galleries">Galleries</button>
        <button mat-menu-item [matMenuTriggerFor]="about">About ACE</button>
      </div>
    </ng-template>

    <mat-menu #learning="matMenu">
      <button mat-menu-item>Project Orion</button>
      <button mat-menu-item>Camps</button>
    </mat-menu>

    <mat-menu #auditions="matMenu">
      <button mat-menu-item [routerLink]="['/events/singing']"routerLinkActive="router-link-active">Singing Awards</button>
      <button mat-menu-item [routerLink]="['/events/acting']"routerLinkActive="router-link-active">Acting Awards</button>
      <button mat-menu-item [routerLink]="['/events/singer-songwriter']"routerLinkActive="router-link-active">Singer-SongWriter Contest</button>
      <button mat-menu-item [matMenuTriggerFor]="safer">Safer@Home Contests</button>
    </mat-menu>

    <mat-menu #features="matMenu">
      <button mat-menu-item [routerLink]="['/features/videos']"routerLinkActive="router-link-active">Interviews</button>
    </mat-menu>

    <!-- <mat-menu #coaching="matMenu">
      <button mat-menu-item [routerLink]="['/coaching']"routerLinkActive="router-link-active">Coaching</button>
    </mat-menu> -->

    <mat-menu #galleries="matMenu">
      <button mat-menu-item [routerLink]="['/galleries/singing-gallery-2020']" routerLinkActive="router-link-active">2020 Singing Awards</button>
      <button mat-menu-item [routerLink]="['/galleries/singing-gallery']" routerLinkActive="router-link-active">2019 Singing Awards</button>
      <button mat-menu-item [routerLink]="['/galleries/acting-gallery']" routerLinkActive="router-link-active">2019 Acting Awards</button>
      <button mat-menu-item [routerLink]="['/galleries/past-events']" routerLinkActive="router-link-active">Past Contests</button>
      <button mat-menu-item [routerLink]="['/galleries/2019-photo-contest']" routerLinkActive="router-link-active">2019 Photo Contest</button>
    </mat-menu>

    <mat-menu #about="matMenu">
      <button mat-menu-item [routerLink]="['/about/board']" routerLinkActive="router-link-active">Mission/Board</button>
      <button mat-menu-item [routerLink]="['/about/donors']" routerLinkActive="router-link-active" >Donors</button>
      <button mat-menu-item [routerLink]="['/about/email']" routerLinkActive="router-link-active" >Email Newsletter</button>
    </mat-menu>

    <mat-menu #safer="matMenu">
      <button mat-menu-item [routerLink]="['/events/instrumental']" routerLinkActive="router-link-active">Instrumental Contest</button>
      <button mat-menu-item [routerLink]="['/events/photography']" routerLinkActive="router-link-active">Photography Contest</button>
      <button mat-menu-item [routerLink]="['/events/shakespeare']" routerLinkActive="router-link-active" >Shakespeare</button>
      <button mat-menu-item [routerLink]="['/events/writing']" routerLinkActive="router-link-active" >Writing Contest</button>
      <button mat-menu-item [routerLink]="['/events/dance']" routerLinkActive="router-link-active" >Dance Contest</button>
    </mat-menu>


