    <button *ngIf="!wide else fullMenu"
      id="hamburger-button"
      mat-icon-button
      [matMenuTriggerFor]="topLevel">
      <mat-icon id="hamburger-icon">menu</mat-icon>
    </button>

    <mat-menu #topLevel="matMenu">
      <button mat-menu-item [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
      <button mat-menu-item [matMenuTriggerFor]="auditions">Events</button>
      <button mat-menu-item [matMenuTriggerFor]="galleries">Galleries</button>
      <button mat-menu-item [matMenuTriggerFor]="about">About ACE</button>
    </mat-menu>

    <ng-template #fullMenu>
      <div id="full-menu">
        <button mat-menu-item [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
        <button mat-menu-item [matMenuTriggerFor]="auditions">Events</button>
        <button mat-menu-item [matMenuTriggerFor]="galleries">Galleries</button>
        <button mat-menu-item [matMenuTriggerFor]="about">About ACE</button>
      </div>
    </ng-template>

    <mat-menu #learning="matMenu">
      <button mat-menu-item>Project Orion</button>
      <button mat-menu-item>Camps</button>
    </mat-menu>

    <mat-menu #auditions="matMenu">
      <button mat-menu-item [routerLink]="['/singing']"routerLinkActive="router-link-active">Singing Awards</button>
      <button mat-menu-item [routerLink]="['/acting']"routerLinkActive="router-link-active">Acting Awards</button>
      <!-- <button mat-menu-item [routerLink]="['/battle-of-the-bands']"routerLinkActive="router-link-active">Battle of the Bands</button> -->
    </mat-menu>

    <mat-menu #galleries="matMenu">
      <button mat-menu-item [routerLink]="['/singing-gallery']" routerLinkActive="router-link-active">2019 Singing Awards</button>
      <button mat-menu-item [routerLink]="['/acting-gallery']" routerLinkActive="router-link-active">2019 Acting Awards</button>
      <button mat-menu-item>Past Contests</button>
    </mat-menu>

    <mat-menu #about="matMenu">
      <button mat-menu-item [routerLink]="['/about/board']" routerLinkActive="router-link-active">Mission/Board</button>
      <button mat-menu-item [routerLink]="['/about/donors']" routerLinkActive="router-link-active" >Donors</button>
      <!-- <button mat-menu-item [routerLink]="['/about/sponsors']" routerLinkActive="router-link-active" >Sponsors</button> -->
      <!-- <button mat-menu-item [routerLink]="['/about/support']" routerLinkActive="router-link-active" >Support ACE</button> -->
      <button mat-menu-item [routerLink]="['/about/email']" routerLinkActive="router-link-active" >Email Newsletter</button>

    </mat-menu>



