<div class="event_page-wrapper-photos">
    <div class="text-wrapper">
    <div class="event_secondary-heading">ACE <span class="accent-text">Safer@Home</span> Photography Contest</div> 
    <p [style.margin-bottom.px]="20" class="announcement">
      For students through grade 12 in Knox County, Tennessee and surrounding counties. 
    </p>
    <!-- <div>
        <img src="assets/images/safe@home2020/photography.jpg" alt="Woman photographing cherry blossoms">
    </div>
    <div class="photo-credit">Photo by kazuend on Unsplash</div> -->

    <div class="smaller-text">The theme: How has being out of school changed your life the most? (No words. Just a picture).</div>
    <div class="spacer"></div>

    <div><span class="bold accent-text">Results:</span> Thanks to everyone who entered this contest. Each of these
        five finalists did a nice job capturing an idea. We have an Overall Winner (selected by judges) and an Audience Choice winner
    (selected by votes). In addition, we have picked two photographers for Honorable Mention. Congratulations and thank you!</div>

    <div class="spacer"></div>
    <div class="accent-text bold">Find an artist</div>
    <div id="chips">
    <mat-chip-list>
        <mat-chip 
          color="primary"
          selected
          *ngFor="let contestant of picArray"
          (click)="scrollToElement(contestant.id)"
        >
        {{ contestant.name }}
        </mat-chip>
    </mat-chip-list>
  </div>

</div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div id="ella">
        <p [style.margin-bottom.px]="20" class="announcement">
            Overall Winner AND Audience Choice 
          </p>
        <img src="assets/images/safe@home2020/photo_contest/e_pinchok.jpeg" 
        id="pic2"></div>
    <div class="event_secondary-heading">
        <p class="accent-text">{{'Ella Pinchok' | uppercase}}</p>
        <p>Farragut High School - 9th Grade</p>
    </div>
    <!-- LikeBtn.com BEGIN -->
<!-- <span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt6" data-icon_l_c="#000000" data-icon_l_c_v="#bb2d53" data-identifier="ella_pinchok_apr_2020" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_frequency="85000" data-loader_show="true" data-site_id="5e151493943ec9fb10be9a79" data-voting_enabled="false"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script> -->
<!-- LikeBtn.com END -->
<span><img style="width:55px;" src="assets/images/safe@home2020/photo_contest/ella.png"></span>
<div>
    <mat-chip 
    color="primary"
    selected
    >
    $150 Gift Card (Overall)
    </mat-chip>
    <mat-chip 
    color="accent"
    selected
    >
    $100 Gift Card (Audience Choice)
    </mat-chip>
</div>

<div class="judges-comments">
    <div>
        <ul><span class="bold">Judges' comments:</span>
            <li>
                "This is a well composed story that seems clear to me what the subject is.  And even if I (didn't) understand it, 
                you want to find out more to ask the question.  So it creates interest. This photographer also understands 
                composition well. The subject is kept simple and everything in it seems to have a  purpose and meaning. 
                All the items pull you in to make you think about why that was put in this collage.  I love the lighting the 
                photographer chose, it gives in a dark, melancholy feel.  As in bored, nothing to do. Everything is clear 
                and exposure very nice."
            </li>
            <li>
        "Something about (this photo) just kept calling me to look repeatedly."
            </li>
        </ul>
    </div>
</div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div id="sydney">
        <p [style.margin-bottom.px]="20" class="announcement">
            Honorable Mention 
          </p>
        <img src="assets/images/safe@home2020/photo_contest/s-feistner.jpeg" 
        id="pic2"></div>
    <div class="event_secondary-heading">
        <p class="accent-text">{{'Sydney Feistner' | uppercase}}</p>
        <p>Grace Christian Academy - 12th Grade</p>
    </div>
    <span><img style="width:55px;" src="assets/images/safe@home2020/photo_contest/syd.png"></span>
    <div>
        <mat-chip 
        color="primary"
        selected
        >
        $50 Gift Card
        </mat-chip>
    </div>

<div class="judges-comments">
    <div>
        <ul><span class="bold">Judges' comments:</span>
            <li>
                "I really like this one photographically."
            </li>
            <li>
        "The photographer kept the scene very clean and simple. He/she understands composition well, as the tiny boat was not in 
        the center of the picture, and also it gives scale to the overall scene. It is a very balanced picture.  It conveys a lot 
        of power and a sense of feeling the scene, as in hearing the water roar.  And of course it is very sharp 
        and clear. The exposure is well done."
            </li>
        </ul>
    </div>
</div>
<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div id="isabella">
    <p [style.margin-bottom.px]="20" class="announcement">
        Honorable Mention 
      </p>
    <img src="assets/images/safe@home2020/photo_contest/i_murrell.jpeg" 
    id="pic2"></div>
<div class="event_secondary-heading">
    <p class="accent-text">{{'Isabella Murrell' | uppercase}}</p>
    <p>Grace Christian Academy - 11th Grade</p>
</div>
<span><img style="width:55px;" src="assets/images/safe@home2020/photo_contest/is.png"></span>
<div>
    <mat-chip 
    color="primary"
    selected
    >
    $50 Gift Card
    </mat-chip>
</div>

<div class="judges-comments">
<div>
    <ul><span class="bold">Judges' comments:</span>
        <li>
            "The bird picture is beautiful, the bokeh (blurred) background is perfect, composition is great, sharp and clear, love the angle. 
    Only one small flaw. The lower right hand distraction needs to be cropped out, the only thing that kept the picture from being perfect and that is an easy fix!"
        </li>
        <li>
    "This photo is well composed and implies an interesting bird dialog that helps overcome the conflict in the background."

        </li>
    </ul>
</div>
</div>


<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<div id="leah"><img src="assets/images/safe@home2020/photo_contest/l-kahre.jpeg" 
    id="pic1"></div>
<div class="event_secondary-heading">
    <p class="accent-text">{{'Leah Kahre' | uppercase}}</p>
    <p>William Blount High School - 9th Grade</p>
</div>
<span><img style="width:55px;" src="assets/images/safe@home2020/photo_contest/leah.png"></span>

<div class="judges-comments">
    <div>
        <ul><span class="bold">Judges' comments:</span>
            <li>
                "I like this photo for its color (the beautiful sky). I also love the perspective, looking down on the 
                parking lot from on high, but through a fence and slightly askew. All of this could be suggesting
                the loneliness and disorientation of quarantine, separation from friends and fun. I don't love the use of portrait (vertical)
                orientation, and yet maybe it adds to the theme here, like looking at the big world through a narrow window."
            </li>
            <li>
            </li>
        </ul>
    </div>
    </div>

<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>



    <div id="elizabeth"><img src="assets/images/safe@home2020/photo_contest/e-newman.jpeg" 
        id="pic5"></div>
    <div class="event_secondary-heading">
        <p class="accent-text">{{'Elizabeth Newman' | uppercase}}</p>
        <p>Loudon High School - 10th Grade</p>
    </div>

    <span><img style="width:55px;" src="assets/images/safe@home2020/photo_contest/elizabeth.png"></span>

<div class="judges-comments">
    <div>
        <ul><span class="bold">Judges' comments:</span>
            <li>
                I love the scale and subject of the basketball and goal.  There is a story there, I think from the photographer's point of view.
            </li>
            <li>
        "This photo tells in a very clear way that the photographer is isolated from friends or someone else to play basketball with. 
        Maybe even quarantined. The (contest) theme is clearly displayed.  Photography is like any other skill, it takes time to learn 
        and to develop and this student is well on his/her way to coming back to this scene later and do a remake. It is part of his/her story of 2020."
            </li>
        </ul>
    </div>
    </div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <!-- <div>Here's your theme:</div>
    <div>How has being out of school changed your life the most? 
    <span class="accent-text bold">No words. Just a picture</span>.</div>
    <div class="spacer"></div>
    
    <div>
        Take your picture and <span class="accent-text bold">send it</span>, along with <span class="accent-text bold">your name</span> and 
        the <span class="accent-text bold">name of your school</span> to <a href="mailto:jay@aceknox.com">jay@aceknox.com</a>. 
        We will display it here at <span class="accent-text bold">aceknox.com</span>, where people can vote for it as their favorite. 
        Judges will take a look at it too. 
    </div> 



    <div class="spacer"></div>
    <div>There will be two prizes awarded:</div>
    <ul>
        <li>Judges' Prize: <span class="accent-text bold">$150</span></li>
        <li>Audience Votes: <span class="accent-text bold">$100</span></li>
    </ul>
    
    <div>Photos are due by  <span class="accent-text bold">9:00pm on Saturday, April 18, 2020</span>. Audience voting will run from 
        <span class="accent-text bold">Sunday, April 19 at Noon</span>
        through  <span class="accent-text bold">Friday, April 24 at 9:00pm</span>.</div>
    <div class="spacer"></div>

    <div class="note"><span class="accent-text bold">*</span>Please observe all current recommendations about social distancing. This is designed to be an 
        individual contest which does not require a gathering of people.</div>
    <div class="spacer"></div> -->

  </div>
  