<mat-card>
    <div class="event_page-wrapper">
        <div class="event_secondary-heading">ACE Teaching: <span class="accent-text">Shakespeare Monologues</span></div> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KWh2L95TP80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <p [style.margin-bottom.px]="20" class="announcement">
            Jay works with Lily Kate Corley on a Shakespeare monologue        </p>

        <div>
            Jay works with Lily Kate Corley on a Shakespeare monologue, explaining how to start and the different ways to approach and perform it.
        </div>
<div>
<div class="spacer"></div>

            <span class="accent-text">Lily Kate Corley</span> won the ACE Acting Awards in 2018.
            <span class="accent-text">Jay Apking</span> is the founder and director of ACE.
        </div>


    </div>
</mat-card>
