<div class="container">
  <div class="row">
    <div>
        <div class="event_secondary-heading">MUSICAL THEATRE AUDITION FORM</div>
      <form [formGroup]="signupForm" #formDirective="ngForm" (ngSubmit)="onSubmit(signupForm, formDirective)" id="singingForm">
        <div formGroupName="userData">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" id="name" formControlName="name" class="formcontrol" placeholder="Name" required>
              <mat-error *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched"></mat-error>
              <!-- <mat-error *ngIf="signupForm.get('userData.name').errors['nameIsForbidden']">This name is invalid!</mat-error> -->
              <!-- <mat-error *ngIf="signupForm.get('userData.name').errors['required']">This field is required!</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" id="age" placeholder="Age" formControlName="age" required>
              <!-- <mat-error *ngIf="signupForm.get('userData.age').invalid">Damn</mat-error> -->
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" id="email" placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="signupForm.get('userData.email').invalid">Enter a valid email address</mat-error>
            </mat-form-field>
          <!-- </div> -->
          <!-- <div class="form-group"> -->
            <mat-form-field>
              <input matInput type="text" id="phone" placeholder="Phone" formControlName="phone" required>
              <!-- <mat-error *ngIf="signupForm.get('userData.phone').invalid">Damn</mat-error> -->
            </mat-form-field>
          </div>
          <div class="form-group">
          <!-- </div>
          <div class="form-group"> -->
            <mat-form-field>
              <input matInput type="text" id="grade" placeholder="Grade in school" formControlName="grade" required>
              <!-- <mat-error *ngIf="signupForm.get('userData.grade').invalid">Damn</mat-error> -->
            </mat-form-field>
          <!-- </div>
          <div class="form-group"> -->
            <mat-form-field>
              <input matInput type="text" id="school" placeholder="Name of your school" formControlName="school" required>
              <!-- <mat-error *ngIf="signupForm.get('userData.school').invalid">Damn</mat-error> -->
            </mat-form-field>
          </div>
          <!-- <div class="event_section-header">Category (select one or more in your age range)*
            </div>
          <div class="checkbox-list">
          <div class="form-group">
            <mat-checkbox id="rising" formControlName="rising">
              Rising Star (Up though grade 8)
            </mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox id="i-vocal" formControlName="individualVocal">
              Individual Vocal (Grades 9-12)
            </mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox id="i-instrumental" formControlName="individualInstrumental">
              Individual Instrumental (Grades 9-12)
            </mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox id="group" formControlName="group">
              Choir / A Capella (Grades 6-12)
            </mat-checkbox>
          </div> -->
        <!-- </div> -->
        </div>
        <div class="spacer"></div>
        <button mat-flat-button color="primary" type="submit" [disabled]="!signupForm.valid || waiting">SUBMIT</button>
        <div class='progress-bar' *ngIf="waiting">
          <mat-progress-bar mode="indeterminate" color="accent" ></mat-progress-bar>
        </div>
        <div id="message">
          <div *ngIf="submitted && !signupForm.touched" class="help-block">{{submitMsg}}</div>
          <div *ngIf="submitError" class="error">{{errorMsg}}</div>
        </div>
      </form>
    </div>
  </div>
</div>
