<div class="event_page-wrapper-photos">
    <div class="text-wrapper">
        <!-- <div class="event_secondary-heading">Matt Lytle</div> 
        <p [style.margin-bottom.px]="20" class="announcement">
            Banner text goes here if we use the banner :) 
        </p> -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxFlex="30" fxFlex.sm="100">
                <img class="coach" src='assets/images/coaches/aleah_vassell2.jpg'>    
            </div>
            <div fxFlex="60" fxFlex.sm="100"  class="bio">
                <p><span class="event_secondary-heading accent-text bold">Aleah Vassell</span> 
                    Aleah is a Canadian born artist produced by two lovely Jamaicans who raised her in both Toronto 
                    and Tennessee! She received her <span class="accent-text bold">Bachelor’s of Fine Arts in Musical 
                    Theatre from Samford University</span> and is a recent graduate from the <span class="accent-text bold">
                    University of Tennessee, Knoxville's with a Master of Fine Arts in Acting.</span>
                    Aleah is also Co-Founder/Co-Artistic Director of <span class="accent-text bold">Hear Me Roar Theatre Company</span>, 
                    <span class="accent-text bold">Managing Director of ACE</span>, and creator of the musical
                    MFAs: A Musical For Actors in School.</p>
                    
                    <p>
                    Favorite performance credits include: <span class="accent-text bold">Jo in
                    The Legend of Georgia McBride</span>, <span class="accent-text bold">Side By Side By Sondheim</span>
                    (Flying Anvil Theatre), and <span class="accent-text bold">Emilie in The
                     Submission</span> (Hear Me Roar Theatre).</p> 
                    
                    <p>As a teacher, Aleah has taught Acting for four years across the Tennessee Valley and Charleston Low Country. 
                        <span class="accent-text bold">Her student-centered teaching has an adaptable nature</span> that allows her to specifically hone in on what each 
                        student needs. Her goal is to teach students how to be truthful with themselves, 
                        playful in their work, and open to others. Find more at <a href="https://www.aleahvassell.com" target="_blank">Aleah's website</a>.
                    </p>
            </div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>
                <div class="class-grid">
                    
                        <div class="class-header">
                            <h4 class="accent-text">Musicial Theatre with Aleah Vassell</h4>
                            <div class="class-subtitle">More info coming soon</div>
                        </div>
            
                        <div class="class-weekly">
                            <h6><span class="bold">Weekly Layout:</span></h6>
                                <p><span class="bold">WEEK 1:</span> Introductions and Song Choices</p>
                                <p><span class="bold">WEEK 2:</span> Table Work - Breaking the song down with the <span class="accent-text bold">ACE formula</span></p>
                                <p><span class="bold">WEEK 3:</span> First Read and Work-through</p>
                                <p><span class="bold">WEEK 4:</span> Physicality / Coaching Day</p>
                                <p><span class="bold">WEEK 5:</span> Final Performance - A Polished Piece with Final Feedback</p>
                            
                        </div>
                        <div class="class-dates-times">
                            <h6><span class="bold">Session 1:</span></h6>
                            <p>Tuesdays on Zoom</p>
                            <p class="accent-text bold">July 7 - August 4</p>
                            <p>2pm-3pm EDT</p>
                            <p class="bold">$75 entry fee <span class="accent-text bold">($49 thru June 20)</span></p>
                            <p>Maximum: 4 participants</p>
                            <button mat-flat-button color="accent" class="register" [routerLink]="['../checkout/aleah']">Register now</button>
                        </div>
                    </div>
                <div class="spacer"></div>
                <mat-divider></mat-divider>
                <div class="spacer"></div>
        <div [routerLink]="['../']" class="pointer">Return to coaching page</div>
    </div>
</div>
