<div class="event_page-wrapper">
  <img
    src="../../../../assets/images/ace-singing22.png"
    alt="Ace logo circled by 'Ace awards onling singing competition'"
    class="logo"
  />
  <div>
    A <span class="bold accent-text">big thanks</span> to all of you who
    entered. There were lots of great submissions. If you didn't advance to the
    finals, hang in there and keep learning!
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="bold event_main-heading">THE FINALISTS</div>
  <div class="bold event_secondary-heading">
    Best Open Singing - High School
  </div>
  <div>In no particular order...</div>
  <div class="spacer"></div>

  <div class="event_secondary-heading">
    <strong class="accent-text">Avery Arwood</strong>: Grace Christian Academy
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Sherleen Mwaura</strong>: West High School
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Presley Ford</strong>: West High School
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Mary Claire Carter</strong>: Farragut High
    School
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Sophia Newton</strong>: Christian Academy of
    Knoxville
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Jasmyne Simpkins</strong>: Home school
  </div>
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>
  <div class="bold event_secondary-heading">
    Best Rising Star - Middle School
  </div>
  <div>In no particular order...</div>
  <div class="spacer"></div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Macy Shoemaker</strong>: Grace Christian Academy
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Joey Nieman</strong>: Farragut Middle School
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Irelan Fender</strong>: Rivers Edge Christian
    Academy
  </div>
  <div class="event_secondary-heading">
    <strong class="accent-text">Abigail Seaman</strong>: Grace Christian Academy
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>
  <div>
    <div class="event_secondary-heading">NEXT UP...</div>
    <div>
      Final Round - <span class="bold accent-text">May 1 - 7</span> - Finalists
      will have videos posted online for judges and audience voting. Finalists,
      your videos will be posted here at
      <span class="accent-text">aceknox.com</span> at
      <strong>7pm on Monday, May 2</strong>.
    </div>

    <div class="spacer"></div>

    <div>
      <span class="bold accent-text">May 8 - 15</span> - Submissions of a full
      song for each finalist
    </div>

    <div class="spacer"></div>

    <div><span class="bold accent-text">May 15</span> - Winners announced</div>

    <div class="spacer"></div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="event_secondary-heading">
      Prizes for each category:
      <span class="bold accent-text">$500</span> winner,
      <span class="bold accent-text">$250</span> to the school of the winner
    </div>
    <div>
      Also, One of the nine contestants will win the Audience Choice Prize:
      <span class="bold">$200</span> gift card
    </div>
    <div class="spacer"></div>

    <div>
      Email <a href="mailto:jay@aceknox.com">jay@aceknoxcom</a> for any
      questions.
    </div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div>Brought to you by <span class="bold accent-text">ACE</span> and:</div>
    <div id="sponsor">
      <img src="/assets/images/homepage/tc.png" />
    </div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
  </div>
</div>
