<div class="event_page-wrapper">
  <img
    src="../../../../assets/images/ace-singing22.png"
    alt="Ace logo circled by 'Ace awards onling singing competition'"
  />
  <div>
    A <span class="bold accent-text">singing contest</span> for
    <span class="bold accent-text">middle and high school students</span> from
    Knox and surrounding counties
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="bold event_secondary-heading">TWO AWARDS</div>
  <div class="bold accent-text event_secondary-heading">
    Best Open Singing - High School
  </div>
  <div class="bold event_secondary-heading">
    Best Rising Star - Middle School
  </div>
  <div class="spacer"></div>
  <div class="event_secondary-heading">
    Prize - <span class="bold accent-text">$500</span> winner,
    <span class="bold accent-text">$250</span> to the school of the winner
    <br />
    Audience Choice - <span class="bold">$200</span> Gift Card
  </div>
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>
  <div>
    <div class="rules">
      Please submit a one-minute video of your song - any song, any genre. You
      may sing to a track, sing a capella, be accompanied, or accompany
      yourself. We prefer your submission to be on YouTube with a link, but you
      can also share a video from your phone.
    </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div class="event_secondary-heading">IMPORTANT DATES</div>
    <div class="spacer"></div>

    <div>
      First Round Submission:
      <span class="bold accent-text">April 13 - 29</span>
    </div>
    <div class="spacer"></div>

    <div>
      Finalists Announcement (3 per category) on
      <span class="bold accent-text">April 30</span>
    </div>

    <div class="spacer"></div>

    <div>
      Final Round - <span class="bold accent-text">May 1 - 7</span> - Finalists
      will have videos posted online for judges and audience voting.
    </div>

    <div class="spacer"></div>

    <div>
      <span class="bold accent-text">May 8 - 15</span> - Submissions of a full
      song for each finalist
    </div>

    <div class="spacer"></div>

    <div><span class="bold accent-text">May 15</span> - Winners announced</div>

    <div class="spacer"></div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
    <div>
      Email <a href="mailto:jay@aceknox.com">jay@aceknoxcom</a> for any
      questions.
    </div>
    <div class="spacer"></div>
    <div class="event_secondary-heading">
      <a href="">Sign up here by April 29</a>
    </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div>Brought to you by <span class="bold accent-text">ACE</span> and:</div>
    <div id="sponsors">
      <!-- <img src="/assets/images/homepage/cbt.png" /> -->
      <!-- <img src="/assets/images/homepage/ut-theatre.png" /> -->
      <img src="/assets/images/homepage/tc.png" />
    </div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
  </div>
</div>
