<div class="event_page-wrapper">

    <div class="event_secondary-heading">The National</div>
    <div class="event_main-heading"> ACE Theatre Awards</div>
    <div class="event_secondary-heading accent-text">
        The Alliance for Creative Excellence announces its first ever <span class="bold">NATIONAL</span> theatre contest for students.
    </div>
    <p>High-school and down (College contests coming soon)</p>
  
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div class="event_secondary-heading bold">Categories</div>
    <div class="event_secondary-heading accent-text bold">Best Musical Theatre Song</div>
    <div class="event_secondary-heading accent-text bold">Best Monologue</div>

    <div class="spacer"></div>


    <div class="event_secondary-heading bold"><span class="accent-text">$500 Award</span> for winners of both categories</div>
    
    <div class="spacer"></div>

    
    <button mat-flat-button color="accent" [routerLink]="['/events/national/signup']">Sign up now!</button>   
    
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
    
    <div class="event_secondary-heading bold">Dates</div>

    <div>
        <span class="bold">Round 1:</span> Video submission of 90 seconds of your Musical Theatre song or 60 seconds of your Monologue
        <span class="bold">Due: September 30, 2020 - Midnight (Eastern Time)</span> 
    </div>
    <div class="spacer"></div>
    
    <div>
        <span class="bold">Round 2:</span> Top 10 in both categories will submit full videos of Musical Theatre song or Monologue
        <span class="bold">Due: October 9, 2020 - Midnight (Eastern Time)</span> 
    </div>
    <div class="spacer"></div>


    <div>
        <span class="bold">Round 3:</span> Top 5 in both categories will be recorded on a live performance of each contestant’s piece.
        <span class="bold">Dates: October 19-21, 2020 </span> 
    </div>
    <div class="spacer"></div>

    <div>
        Winners announced <span class="bold">October 30, 2020</span>         
    </div>

    <div class="spacer"></div>
    <button mat-flat-button color="accent" [routerLink]="['/events/national/signup']">Sign up now!</button>   
    
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div class="event_secondary-heading bold">Details</div>
    <p>
        All participating students must be of high school grade level or below to participate (college contests coming soon). 
    </p>
    <div class="spacer"></div>
    <p>
        All videos must be submitted to jay@aceknox.com by deadlines above. Preferably YouTube video links, but please make sure the videos are of good quality. 
    </p>
    <div class="spacer"></div>

    <p>
        We ask that all performances are newly recorded and not from a recorded stage version of a previous performance. 
    </p>
    <div class="spacer"></div>

    <p>
        <span class="bold">Musical Theatre</span> - all songs must be from previously produced material. 
    </p>
    <div class="spacer"></div>

    <p>
        <span class="bold">Monologues</span> - we would prefer modern monologues (we will be holding a Shakespeare contest later in the school year). We would also prefer that your monologue comes from a play and not a free-standing piece. 
    </p>
    <div class="spacer"></div>

    <p>
        *If you need help finding a monologue or musical theatre song, or if you are interested in coaching for your piece, ACE has an available team of professional coaches. Please contact jay@aceknox.com for guidance. 
    </p>
    <div class="spacer"></div>

    <p>
        *The judging will take place from a national panel of judges representing Broadway houses, theatre companies, undergraduate and graduate theatre programs, and professional acting coaches unaffiliated with ACE. We guarantee you will get an honest and fair judging of your work. 
    </p>
    <div class="spacer"></div>

    <p>
        For any questions, please contact jay@aceknox.com. 
    </p>
    <div class="spacer"></div>

    <p>
        Thank you and best of luck. 
    </p>

    

  


 
</div>
