<div class="event_page-wrapper">

    <div class="event_secondary-heading">The National</div>
    <div class="event_main-heading"> ACE Theatre Awards</div>
    <div class="event_secondary-heading accent-text">
        The Alliance for Creative Excellence announces its first ever 
        <span class="bold">NATIONAL</span> theatre contest for students.
    </div>
    <p>High-school-age and younger (College contests coming soon!)</p>
  
    <hr>

    <div id="grid1">
        <img class="actor block1" src="assets/images/acting_2019/a36.jpg">
        <div class="block2">
            <div class="event_secondary-heading bold">Two Categories</div>
            <p class="accent-text bold">Best Musical Theatre Song</p>
            <p class="accent-text bold">Best Monologue</p>
            <p class="event_secondary-heading bold accent-text less-margin">$500 Award</p>
            <div>for the winner of each category</div>
            <div class="button-row">
                <button mat-flat-button color="accent" [routerLink]="['/national/signup']">Sign up</button>   
            </div>
        </div>
    </div>
    
    <hr>
    
    <div class="event_secondary-heading bold">Dates</div>

    <p>
        <span class="bold">Round 1:</span> Video submission of 90 seconds of your Musical Theatre 
        song or 60 seconds of your Monologue
        <!-- <span class="bold">Due: September 30, 2020 - 11:59pm (Eastern Time)</span>  -->
    </p>
    <p>
        <span class="bold">Round 2:</span> Top 10 in both categories will submit full videos 
        of Musical Theatre song or Monologue
        <!-- <span class="bold">Due: October 9, 2020 - 11:59pm (Eastern Time)</span>  -->
    </p>
    <p>
        <span class="bold">Round 3:</span> Top 5 in both categories will be recorded on a 
        live performance of each contestant’s piece.
        <!-- <span class="bold">Dates: October 19-21, 2020 </span>  -->
    </p>
    <p>
        <!-- Winners announced <span class="bold">October 30, 2020</span>          -->
    </p>

    <hr>

    <div class="event_secondary-heading bold">Details</div>
    <p>
        All participating students must be of high school grade level or below to participate 
        (college contests coming soon). 
    </p>
    <p>
        <!-- Submit your audition videos (preferably YouTube video links) and information using 
        our <span class="accent-text bold pointer underline" [routerLink]="['/national/signup']">sign-up 
        form</span> by deadlines above. Please make sure the videos are of good quality.  -->
        If you need more information, please contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a>.
    </p>
    <p>
        We ask that all performances are newly recorded and not from a recorded stage version 
        of a previous performance. 
    </p>
    <p>
        <span class="bold">Musical Theatre</span> - all songs must be from previously produced material. 
    </p>
    <p>
        <span class="bold">Monologues</span> - we would prefer modern monologues (we will be holding 
        a Shakespeare contest later in the school year). We would also prefer that your monologue comes 
        from a play and not a free-standing piece. 
    </p>

    <img class="actor" src="assets/images/actor-a.jpg" style="max-width: 450px">

    <p>
        *If you need help finding a monologue or musical theatre song, or if you are interested 
        in coaching for your piece, <span class="bold">ACE has an available team of professional 
        coaches</span>. Please contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a> for guidance. 
    </p>
    <p>
        *The judging will take place from a national panel of judges representing Broadway houses, 
        theatre companies, undergraduate and graduate theatre programs, and professional acting 
        coaches <span class="accent-text bold">unaffiliated with ACE</span>. We guarantee you will get 
        an honest and fair judging of your work. 
    </p>
    <p>
        For any questions, please contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a>.
    </p>
    <p>
        Thank you and best of luck. 
    </p>

    <div class="button-row">
        <button mat-flat-button color="accent" [routerLink]="['/national/signup']">Sign up now!</button>   
    </div>

</div>
