<div class="event_page-wrapper">

    <div class="event_main-heading"> ACE Singing Awards</div>
    <div class="event_secondary-heading accent-text">
        Finalists
    </div>

  
    <hr>

    <!-- <div id="grid1">
        <img class="actor block1" src="assets/images/singing_2019/s14.jpg">
        <div class="block2">
            <div class="event_secondary-heading bold">Two Categories</div>
            <p class="accent-text bold">Rising Star: Grade 8</p>
            <p class="accent-text bold">Open Singing Competition: Grades 9-12</p>
            <p class="event_secondary-heading bold accent-text less-margin">$500 Award</p>
            <div>for the winner ($250 for their school)</div>
            <div class="button-row">
                <button mat-flat-button color="accent" (click)="goToForm()">Sign up</button>   
            </div>
        </div>
    </div>
    
    <hr> -->
    
    <div class="event_secondary-heading bold"> ACE (High School): </div>
        <p> Mary Claire Carter - Farragut </p>
        <p> Maddy Dishner - Central </p>
        <p> Hannah Johnson – Grace Christian Academy</p>
        <p> Ella Pinchok - Farragut </p>
        <p> Jasmyne Simpkins - Farragut </p>
        <p> Phillip Taylor - Grace Christian Academy</p>
        <p> Emily Caroline Thomas – Maryville Junior High School </p>
        <p></p>
<hr>
    <div class="event_secondary-heading bold">  Rising Star (Middle School): </div>
    <p> Sophia Newton - Grace Christian Academy </p>
    <p> Joey Nieman - Farragut</p>
    <p> Brady Pinchok - Farragut </p>
 
 

    <hr>

    <div>
        <img class="actor block1" src="assets/images/flyer.jpg">

        
    </div>

    <p>
        For any questions, please contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a>.
    </p>
    <p>
        Thank you and best of luck. 
    </p>

    <div class="button-row">
        <button mat-flat-button color="accent" (click)="goToForm()">Sign up now!</button>   
    </div>

</div>
