<div class="event_page-wrapper">
    <div class="event_main-heading">ACE Singing Awards</div>
    <img class="event_hero-img"
      src="assets/images/singing_2020/singing_3.jpg"
      alt="Photo of a young woman singing">

    <div class="event_secondary-heading">JANUARY 11, 2020 - BIJOU THEATRE</div>

    <p>The Alliance for Creative Excellence (ACE) hosted the <span class="bold">8th Annual ACE Singing Awards</span>
      for Knoxville area students on January 11. What a great show! Every performer listed below was outstanding!
      Choosing one winner per category is the hardest part. Thanks to all of you for making this year's show fantastic!</p>
    
    <div fxLayout="row wrap" fxLayout.sm="column"
      fxLayout.xs="column" fxLayoutGap="20px"
      fxLayoutAlign="center center">
      <div [routerLink]="['/galleries/singing-gallery-2020']" class="pointer">
        <img class="link-pic" src="assets/images/singing_2020/sm_photo1.jpg">
        <p><span class="underline">Photos</span> of the 2020 show</p>
      </div>
      <a href="https://www.youtube.com/channel/UCMYa3DHS8p9uz-HziHXyzeQ/featured?reload=9" target="_blank">
        <div [style.maxWidth.px]="440">
          <img class="link-pic" src="assets/images/singing_2020/youtube_sm.jpg">
          <p>High quality video of the whole show plus more ACE content <span class="underline">on YouTube</span></p>
        </div>
      </a>
    </div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div class="event_main-heading">ACE Singing Awards Results:</div>

    <div *ngFor="let item of categories">
      <div class="event_secondary-heading">{{item.category}}</div>
      <div *ngFor="let student of item.entrants">
        <p><mat-chip *ngIf="student.notes === 'winner'" color="accent" selected>Winner!</mat-chip>
          <mat-chip *ngIf="student.notes === 'audience'" color="primary" selected>Audience Choice</mat-chip>
          <span class="bold accent-text">{{student.name}}</span> - {{student.school}}</p>
      </div>
      <div class="spacer"></div>
      <mat-divider></mat-divider>
      <div class="spacer"></div>
      </div>
  </div>
