<div class="event_page-wrapper">
    <div class="event_main-heading">ACE Singing Awards</div>
    <img class="event_hero-img"
      src="assets/images/singing_2019/s1.jpg"
      alt="Photo of a young man playing a guitar and singing">

      <div class="event_secondary-heading">JANUARY 11, 2020 - BIJOU THEATRE</div>
      <div class="highlighted-message"><p>Registration is CLOSED</p></div>

    <p>The Alliance for Creative Excellence (ACE) is hosting the <span class="bold">8th Annual ACE Singing Awards</span>
      for Knoxville area students. Contestants have already been chosen. See the finalists, below.
      The awards show
      and contest will take place <a href="https://www.google.com/maps/place/Bijou+Theatre/@35.9623478,-83.9170961,15z/data=!4m5!3m4!1s0x0:0x645199b25f30477f!8m2!3d35.9623478!4d-83.9170961"
      target="_blank">at the historic Bijou Theatre (map)</a> in downtown Knoxville on January 11,
      2020 at 7pm.</p>

      <p><a href="https://knoxbijou.org/event/?id=776877" target="_blank">Tickets are available here</a>.</p>
      <!-- Participants will compete for prizes for themselves and for their school (or, -->
      <!-- for home-schoolers, a charity of their choice). -->
    <!-- <ul>
      <div class="event_section-header">Categories:</div>
      <li><span class="bold">Rising Star:</span> Grades 8 and below</li>
      <li><span class="bold">Individual Vocal:</span> Grades 9-12; can be accompanied</li>
      <li><span class="bold">Individual Instrumental:</span> Grades 9-12; must accompany yourself</li>
      <li><span class="bold">Choir/A Capella:</span> Groups of 4+, Grades 6-12</li>
    </ul> -->

    <p>Contact <a href="mailto:jay@aceknox.com"> jay@aceknox.com</a> if you have questions. </p>

    <!-- <div class="event_section-header">How to Enter</div>
    <p>1. Fill out and send <span class="bold">the audition form</span> (below).</p>
    <p>2. Send a <strong>video audition</strong> (either the video file or a link where it can be viewed) of yourself singing a musical theatre song, to
      <a href="mailto:jay@aceknox.com"> jay@aceknox.com</a> Be sure to <strong>include your name</strong> in
      the email so we can match it to your application. Make your audition <strong>one minute or less</strong>. -->
      <!-- and send in <strong>a video for each category</strong> for which you want to participate. If you would
      rather do a live audition at your school, contact Jay at the email above.
    </p> -->
    <!-- <p>The <strong>DEADLINE</strong> for entries is <strong>11:59pm on Friday, January 3, 2020</strong>.
      All audition videos and forms must be in by then. Callbacks will take place <strong>soon after the deadline</strong>
      (time/location TBA).</p>

    <p>Please keep in mind that you are submitting an <strong>audition</strong> for the ACE Awards. Not
      everyone who auditions gets a spot on the program. We wish you luck, and if you don’t make it this
      year, keep singing and try again next year!</p>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <app-singing-signup></app-singing-signup> -->

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div class="event_main-heading">Announcing the ACE Singing Award Finalists:</div>
    <div class="event_secondary-heading">Musical Theatre</div>
    <p><span class="bold accent-text">Meredith Bishop  </span>      -         Grace Christian Academy</p>
    <p><span class="bold accent-text">Heather Bohan   </span>      -          Farragut    </p>
    <p><span class="bold accent-text">Valli Comstock</span>      -        Heritage        </p>
    <p><span class="bold accent-text">Wesley Keegan </span>      -         Bearden  </p>
    <p><span class="bold accent-text">Marian Vacaliuc    </span>      -            Oak Ridge </p>
    <p><span class="bold accent-text">Abigail Waldroup  </span>      -        Bearden        </p>
    <br />
    <div class="event_secondary-heading">    Rising Star</div>
<p><span class="bold accent-text">Sophia Comerford         </span> - Sacred Heart - 8th Grade</p>
<p><span class="bold accent-text">Ansley Joy Finchum       </span> - Northview Jr. - 8th Grade</p>
<p><span class="bold accent-text">Ansley Hart              </span> - Homeschool - 8th Grade  </p>
<p><span class="bold accent-text">Sophia Newton            </span> - Grace Christian - 7th Grade</p>
<p><span class="bold accent-text">Joey Nieman - Farragut   </span> - 6th Grade </p>
<p><span class="bold accent-text">Christopher-Lawson Palmer</span> - Homeschool - 8th Grade</p>

<div class="event_secondary-heading">Open Singing</div>
<p><span class="bold accent-text">Heather Bohan     </span>-                   Farragut          -    12th Grade</p>
<p><span class="bold accent-text">Mary Claire Carter</span> -                  Farragut          -    10th Grade</p>
<p><span class="bold accent-text">Hope Creech       </span>  -                  West High        -    12th Grade</p>
<p><span class="bold accent-text">Katelyn Hedrick   </span>  -                  Homeschool       -  11th Grade</p>
<p><span class="bold accent-text">Isabella Murrell  </span>  -                   Grace Christian -   11th Grade</p>
<p><span class="bold accent-text">Noah Schantz      </span>  -                  Harding Valley   -   12th Grade      </p>

<div class="event_secondary-heading">Singing Instrumental</div>
<p><span class="bold accent-text">Sarah Hepler   </span>      -                 Oak Ridge       -    12th Grade</p>
<p><span class="bold accent-text">Connor Kelly   </span>      -                 Homeschool      -   12th Grade</p>
<p><span class="bold accent-text">Maddie McKellar</span>      -               Homeschool        - 12th Grade</p>
<p><span class="bold accent-text">Addie Peterson </span>      -                Grace Christian  -  11th Grade</p>
<p><span class="bold accent-text">Ella Pinchok   </span>      -                   Farragut      -       9th Grade</p>
<p><span class="bold accent-text">Sophie Susano  </span>      -               Catholic          -     12th Grade</p>
<br />
<p>Come see these artists perform at the Bijou on January 11 at 7pm</p>

    </div>
