<hr><div id="wrapper">
  <div id="mission" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div fxFlex="45%">
        <img id="ace-pic" class="responsive" src="../../../../assets/images/ace.png">
      </div>
      <div fxFlex="55%">
          The Alliance for Creative Excellence (ACE) is a non-profit organization established to
          promote the creative arts to students, families and teachers in and around the Knoxville area.
          ACE creates opportunities and incentives for performance and education through classes,
          workshops, camps and award shows in many areas of the creative arts. It is our goal to
          give all young people the opportunity to thrive through the creative arts.
      </div>
  </div>
  <div id="board">
      <h1>ACE BOARD</h1>
      <div>
        <p class="board-member"><span class="accent-text">Jay Apking:</span> Founder, Artistic Director</p>
        <a href="mailto:jay@aceknox.com" target="_blank" class="email">jay@aceknox.com</a>
      </div>

      <div>
        <p class="board-member"><span class="accent-text">Courtney Wills:</span> Managing Director</p>
        <a href="mailto:courtney@aceknox.com" target="_blank" class="email">courtney@aceknox.com</a>
      </div>

      <div>
        <p class="board-member"><span class="accent-text">Tom Dillon:</span> Board President</p>
        <p class="board-member"><span class="accent-text">Alexis Guindi:</span> Board Secretary</p>
        <p class="board-member"><span class="accent-text">Dennis Mullen:</span> Media Director</p>
      </div>

      <h1>ADVISORY BOARD</h1>
      <div>
          <p class="board-member"><span class="accent-text">Emily Ann Roberts:</span> Singer/Songwriter</p>
          <p class="board-member"><span class="accent-text">Levi Kreis:</span> Recording Artist</p>
      </div>


      <div>
        <h1>JUNIOR BOARD</h1>
        <p class="board-member"><span class="accent-text">Ethan Schuch:</span> Webb School of Knoxville</p>
        <p class="board-member"><span class="accent-text">Abigail Kelly:</span> Grace Christian</p>
        <p class="board-member"><span class="accent-text">Morgan White:</span> Farragut High School</p>
        <p class="board-member"><span class="accent-text">Casey Varney:</span> Bearden High School</p>
      </div>
      <div>
        <h1>BOARD EMERITUS</h1>
        <p class="board-member">Christa Conley</p>
        <p class="board-member">Nicole Montgomery</p>
        <p class="board-member">Cylk Cozart</p>
        <p class="board-member">Kayla Heine</p>
        <p class="board-member">Sophie Foster</p>
        <p class="board-member">Katherine Epps</p>
      </div>
    </div>
  </div>

