#wrapper {
  position: relative;
  text-align: center;
  line-height: 1.3;

}
h1 {
  font-size: 3rem;
}
.board-member {
  font-size: 150%;
}
.email {
  font-size: 125%;
  color: black;
  border-bottom: 1px solid black;
}

div {
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  * {
    font-size: larger;
    h1 {
      font-size: 4rem;
    }
  }
}
