@import '../../../assets/styles/ace.scss';
.homepage_card {
  max-width: 500px;
  margin-bottom: 1rem;
  background: rgb(233, 233, 233);

  mat-card-actions {
    margin-bottom: unset;
    padding: unset;
    margin-left: 1px;
  }
}

.homepage_header-image {
  background-image: url('../../../assets/images/ace_more_margin.png');
  background-size: cover;
}

.live {
  cursor: pointer;
}
.finalists {
  text-align: center;
  margin: 10px auto;
  background: $accent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  max-width: 500px;
  font-weight: 500;
  cursor: pointer;

  a {
    color: white;
    text-decoration: none;


  }
}

.second-btn {
  margin-left: 10px;
}

#row2 {
  margin-left: 10px;
}

@media (max-width: 959px) {
  #row2 {
    margin-left: unset;
  }
}
