<mat-card>
  <div class="event_page-wrapper">
    <div class="event_secondary-heading">ACE <span class="accent-text">Safer@Home</span> Arts Contest</div> 
  <p [style.margin-bottom.px]="20" class="announcement">
    For Knoxville area students. Be safe, create art,
    and have a chance to win prizes. 
  </p>
</div>
  <div fxLayout="row wrap" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <mat-card class="homepage_card "
      *ngFor="let item of cards"
      fxFlex="1 1 calc(50% - 20px)" fxFlex.sm="100" fxFlex.xs="100">
      <mat-card-header>
        <div mat-card-avatar class="homepage_header-image"></div>
        <mat-card-title class="title-text">{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{item.image}} alt={{item.alt}}>
      <div class="photocredit" *ngIf="item.photocredit">{{item.photocredit}}</div>
      <mat-card-content>
        <p><span class="accent-text bold">{{item.message1}}</span></p>
        <p>{{item.message2}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="item.button1.display" mat-flat-button color="accent" [disabled]=item.button1.disabled
          (click)="navigate(item.button1.link, item.button1.navMethod)">{{item.button1.buttontxt}}</button>
        <button *ngIf="item.button2.display" mat-flat-button color="primary" class="second-btn"
          (click)="navigate(item.button2.link, item.button2.navMethod)">{{item.button2.buttontxt}}</button>
      </mat-card-actions>
    </mat-card>
  </div>


