@import '../../../assets/styles/ace.scss';
.homepage_card {
  max-width: 500px;
  background: rgb(233, 233, 233);
}

.homepage_header-image {
  background-image: url('../../../assets/images/ace_more_margin.png');
  background-size: cover;
}

