<mat-card>
  <!-- <p [style.margin-bottom.px]="20" class="announcement"><a href="https://www.aceknox.com/events/singer-songwriter">
    <span class="underline">Vote now</span> in the ACE Singer-Songwriter Contest</a>
  </p> -->

  <div fxLayout="row wrap" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <mat-card class="homepage_card "
      *ngFor="let item of cards"
      fxFlex="1 1 calc(50% - 20px)" fxFlex.sm="100" fxFlex.xs="100">
      <mat-card-header>
        <div mat-card-avatar class="homepage_header-image"></div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{item.image}} alt={{item.alt}}>
      <mat-card-content>
        <p><span class="accent-text bold">{{item.message1}}</span></p>
        <p>{{item.message2}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="item.routerLink" mat-flat-button color="accent" [disabled]=item.disabled (click)="navigate(item.routerLink)">{{item.buttontxt}}</button>
        <button *ngIf="item.webLink" (click)="webNav(item.webLink)" mat-flat-button color="accent" [disabled]=item.disabled>{{item.buttontxt}}</button>
        <button *ngIf="item.secondBtnTxt" mat-flat-button color="primary" class="second-btn" (click)="openTab('https://knoxbijou.org/event/?id=776877')">{{item.secondBtnTxt}}</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="row wrap" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutGap="20px"
    fxLayoutAlign="center center" id="row2">
    <mat-card class="homepage_card"
      *ngFor="let item of cards2"
      fxFlex="1 1 calc(50% - 20px)" fxFlex.sm="100" fxFlex.xs="100">
      <mat-card-header>
        <div mat-card-avatar class="homepage_header-image"></div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{item.image}} alt={{item.alt}}>
      <mat-card-content>
        <p><span class="accent-text bold">{{item.message1}}</span></p>
        <p>{{item.message2}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="item.routerLink" mat-flat-button color="accent" [disabled]=item.disabled (click)="navigate(item.routerLink)">{{item.buttontxt}}</button>
        <button *ngIf="item.webLink" (click)="webNav(item.webLink)" mat-flat-button color="accent" [disabled]=item.disabled>{{item.buttontxt}}</button>
        <button *ngIf="item.secondBtnTxt" mat-flat-button color="primary" class="second-btn" (click)="navigate(item.routerLink2)">{{item.secondBtnTxt}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <app-sponsors></app-sponsors>
</mat-card>

