<div class="event_page-wrapper-photos">
    <div class="text-wrapper">
        <div class="event_secondary-heading">Courtney Lucien</div> 
        <p [style.margin-bottom.px]="20" class="announcement">
            Banner text goes here if we use the banner :) 
        </p>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxFlex="35" fxFlex.xs="100">
                <img src='assets/images/coaches/courtney_lucien.jpg'>
            </div>
            <div fxFlex="65" fxFlex.xs="100">
                Lorem ipsum dolor sit amet. Eum enim laudantium qui atque quaerat rem repellendus iusto eum quae magni ad doloribus veniam eum labore explicabo. Est mollitia ullam aut nihil necessitatibus in itaque quae est quasi sequi. Ad voluptas dolor et excepturi autem ab soluta temporibus.
                Sit nisi voluptas id exercitationem asperiores et iure fugiat aut animi nemo et nisi necessitatibus At suscipit assumenda. Et unde aut debitis accusantium est repellendus saepe et facilis suscipit. Est quia nesciunt et consequatur repellendus aut eius Quis qui nemo reiciendis. Ad nostrum quos est rerum consequatur qui nihil delectus?
            </div>
        </div>
        <div [routerLink]="['../']" class="pointer">Return to coaching page</div>
    </div>
</div>

