<div class="event_page-wrapper">
  <div class="event_main-heading">Singer-Songwriter Contest</div>
  <p>Vote for your favorite artists on this page between now and January 25.</p>

  <div class="video-container" id="1">
    <iframe width="931" height="524" src="https://www.youtube.com/embed/SC1IRAg8vLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Andrew Sarphie</span> - Junior - L&N Stem Academy</div>
  <div class="vote-for">Vote for Andrew:</div>
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="video-container" id="2">
    <iframe width="931" height="524" src="https://www.youtube.com/embed/zgvSPZm19qU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Jessica Morgan</span> - Senior - Northview Sr. Academy</div>
  <div class="vote-for">
    Vote for Jessica:
  <!-- LikeBtn.com BEGIN -->
  <span class="likebtn-wrapper" data-theme="custom" data-f_size="14" data-icon_size="16" data-icon_l="hrt6" data-icon_l_c="#000000" data-icon_l_c_v="#bb2d53" data-identifier="item_1" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false"></span>
  <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
  <!-- LikeBtn.com END -->
  </div>
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

</div>
