<div class="event_page-wrapper">
  <div class="event_main-heading">Singer-Songwriter Contest</div>
  <p>Thanks to all four of these very talented artists for sharing their music here. Be sure
    to follow each of them on their YouTube channels.
  </p>
  <!-- <p id="voting" (click)="openDialog()">Trouble voting?</p> -->

  <div class="video-container" id="2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xwR-7hNYnOg" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Catelyn Woody</span> - Senior - Farragut High School</div>
  <div class="vote-for"><mat-chip color="accent" selected>Top Vote Getter!</mat-chip>
    <!-- <span class="votes-total"><img src="assets/images/etc/votes1.png"></span>
    <span><a href="https://www.youtube.com/channel/UCilk0n6hFdIBKK2vEuQYPxA" target="_blank">Follow Catelyn on YouTube</a></span> -->
    <!-- LikeBtn.com BEGIN -->
    <span class="likebtn-wrapper" data-theme="custom" data-icon_size="16" data-icon_l="hrt6" data-icon_l_c="#000000"
      data-icon_l_c_v="#bb2d53" data-identifier="catelyn_woody" data-show_like_label="false"
      data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false"
      data-voting_frequency="85000" data-counter_zero_show="true" data-counter_count="true"
      data-share_enabled="false" data-voting_enabled="false" data-loader_show="true" data-site_id="5e151493943ec9fb10be9a79">
    </span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
    <!-- LikeBtn.com END -->
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="video-container" id="2">
    <iframe width="931" height="524"
      src="https://www.youtube.com/embed/zgvSPZm19qU" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Jessica Morgan</span> - Senior - Northview Sr. Academy</div>
  <div class="vote-for"><mat-chip color="primary" selected>Strong Performance!</mat-chip>
    <!-- <span class="votes-total"><img src="assets/images/etc/votes2.png"></span>
    <span><a href="https://www.youtube.com/channel/UCIErhPZOrro1TQnKhby19Bw" target="_blank">Follow Jessica on YouTube</a></span> -->
    <!-- LikeBtn.com BEGIN -->
    <span class="likebtn-wrapper" data-theme="custom" data-icon_size="16" data-icon_l="hrt6" data-icon_l_c="#000000"
      data-icon_l_c_v="#bb2d53" data-identifier="jessica_morgan" data-show_like_label="false"
      data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false"
      data-voting_frequency="85000" data-counter_zero_show="true" data-counter_count="true"
      data-share_enabled="false" data-voting_enabled="false" data-loader_show="true" data-site_id="5e151493943ec9fb10be9a79">
    </span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
    <!-- LikeBtn.com END -->
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>


  <div class="video-container" id="1">
    <iframe width="931" height="524"
      src="https://www.youtube.com/embed/SC1IRAg8vLE" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Andrew Sarphie</span> - Junior - L&N Stem Academy</div>
  <div class="vote-for"><mat-chip color="accent" selected>Gifted Performer!</mat-chip>
    <!-- <span class="votes-total"><img src="assets/images/etc/votes3.png"></span>
    <span><a href="https://www.youtube.com/channel/UCsu7bm8FZAMm1j1IhkAAakQ" target="_blank">Follow Andrew on YouTube</a></span>    LikeBtn.com BEGIN -->
    <span class="likebtn-wrapper" data-theme="custom" data-icon_size="16" data-icon_l="hrt6" data-icon_l_c="#000000"
      data-icon_l_c_v="#bb2d53" data-identifier="andrew_sarphie" data-show_like_label="false"
      data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false"
      data-voting_frequency="85000" data-counter_zero_show="true" data-counter_count="true"
      data-share_enabled="false" data-voting_enabled="false" data-loader_show="true" data-site_id="5e151493943ec9fb10be9a79">
    </span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
    <!-- LikeBtn.com END -->
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="video-container" id="2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9TU6ysOpGxc" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  </div>
  <div class="artist"><span class="bold accent-text">Collette Lucas</span> - Sophomore - Karns High School</div>
  <div class="vote-for"><mat-chip color="primary" selected>Talented Artist!</mat-chip>
    <!-- <span class="votes-total"><img src="assets/images/etc/votes4.png"></span>
    <span><a href="https://www.youtube.com/channel/UCydS9IJf-fe-MO0tfBnFOcQ" target="_blank">Follow Collette on YouTube</a></span>    Vote for Collette: -->
    <!-- LikeBtn.com BEGIN -->
    <span class="likebtn-wrapper" data-theme="custom" data-icon_size="16" data-icon_l="hrt6" data-icon_l_c="#000000"
      data-icon_l_c_v="#bb2d53" data-identifier="collette_lucas" data-show_like_label="false"
      data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_cancelable="false"
      data-voting_frequency="85000" data-counter_zero_show="true" data-counter_count="true"
      data-share_enabled="false" data-voting_enabled="false" data-loader_show="true" data-site_id="5e151493943ec9fb10be9a79">
    </span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
    <!-- LikeBtn.com END -->
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

</div>
