.form-group mat-form-field{
    width: 500px;
}
    
#message {
    height: 2rem;
    margin-top: 10px;
}

.error {
    color: red;
}

#paypal-button-container {
    max-width: 500px;
    margin: 0 auto;
}

.hidden {
    display: none;
}