<div class="event_page-wrapper">
    <div class="container">
    <div class="row">
      <div>
        <div class="event_secondary-heading">{{ classInfo.classTitle }}</div>
        <div>with {{ classInfo.classTeacher }}</div>
        <div class="spacer"></div>

        <p innerHTML="{{classInfo.classDescription}}"></p>
        <p>Confirmation and receipt will be emailed to you.</p>
      
        <form [formGroup]="signupForm" #formDirective="ngForm" (ngSubmit)="onSubmit(signupForm, formDirective)" id="checkoutForm">
          <div formGroupName="userData">

            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" id="name" formControlName="name" class="formcontrol" placeholder="Student's Name" required>
                <mat-error *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched"></mat-error>
                <!-- <mat-error *ngIf="signupForm.get('userData.name').errors['required']">This field is required</mat-error> -->
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="number" id="age" placeholder="Student's Age" formControlName="age" required>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" id="email" placeholder="Student's Email" formControlName="email" required>
                <mat-error *ngIf="signupForm.get('userData.email').invalid">Enter a valid email address</mat-error>
              </mat-form-field>
              </div>
              <div class="form-group">
              <mat-form-field class="hidden">
                <input matInput type="text" id="teacher" placeholder="Coach" formControlName="teacher" value={{classInfo.classTeacher}} readonly>
              </mat-form-field>
            </div>
            <mat-form-field class="hidden">
              <input matInput type="text" id="classname" placeholder="Class" formControlName="classname" value={{classInfo.classTitle}} readonly>
            </mat-form-field>
            <mat-form-field class="hidden">
              <input matInput type="text" id="coachemail" placeholder="Coach Email" formControlName="coachemail" value={{classInfo.email}} readonly>
            </mat-form-field>
          </div>
              <!-- <div class="form-group">
              <mat-form-field>
                <input matInput type="text" id="phone" placeholder="Phone" formControlName="phone" required>
              </mat-form-field>
            </div> -->
            <!-- <div class="form-group">
              <mat-form-field>
                <input matInput type="text" id="grade" placeholder="Grade in school" formControlName="grade" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="school" placeholder="Name of your school" formControlName="school" required>
              </mat-form-field>
            </div> -->

          <div class="spacer"></div>
          <button mat-flat-button color="primary" type="submit" [disabled]="!signupForm.valid || waiting">Submit and Go to Checkout</button>
          <div class='progress-bar' *ngIf="waiting">
            <mat-progress-bar mode="indeterminate" color="accent" ></mat-progress-bar>
          </div>
          <div id="message">
            <div *ngIf="submitted && !signupForm.touched" class="help-block">{{submitMsg}}</div>
            <div *ngIf="submitError" class="error">{{errorMsg}}</div>
          </div>
          <p>Contact <a href="mailto:jay@aceknox.com">jay@aceknox.com</a> with any questions.</p>

        
        </form>
  </div>

  </div>
