<div class="event_page-wrapper">

  <div class="event_main-heading">Announcing the ACE Singing Award Finalists:</div>

  <div class="event_secondary-heading">    Rising Star</div>
<p><span class="bold accent-text">Sophia Comerford         </span> - Sacred Heart - 8th Grade</p>
<p><span class="bold accent-text">Ansley Joy Finchum       </span> - Northview Jr. - 8th Grade</p>
<p><span class="bold accent-text">Ansley Hart              </span> - Homeschool - 8th Grade  </p>
<p><span class="bold accent-text">Sophia Newton            </span> - Grace Christian - 7th Grade</p>
<p><span class="bold accent-text">Joey Nieman - Farragut   </span> - 6th Grade </p>
<p><span class="bold accent-text">Christopher-Lawson Palmer</span> - Homeschool - 8th Grade</p>

<div class="event_secondary-heading">Open Singing</div>
<p><span class="bold accent-text">Heather Bohan     </span>-                   Farragut          -    12th Grade</p>
<p><span class="bold accent-text">Mary Claire Carter</span> -                  Farragut          -    10th Grade</p>
<p><span class="bold accent-text">Hope Creech       </span>  -                  West High        -    12th Grade</p>
<p><span class="bold accent-text">Katelyn Hedrick   </span>  -                  Homeschool       -  11th Grade</p>
<p><span class="bold accent-text">Isabella Murrell  </span>  -                   Grace Christian -   11th Grade</p>
<p><span class="bold accent-text">Noah Schantz      </span>  -                  Harding Valley   -   12th Grade      </p>

<div class="event_secondary-heading">Singing Instrumental</div>
<p><span class="bold accent-text">Sarah Hepler   </span>      -                 Oak Ridge       -    12th Grade</p>
<p><span class="bold accent-text">Connor Kelly   </span>      -                 Homeschool      -   12th Grade</p>
<p><span class="bold accent-text">Maddie McKellar</span>      -               Homeschool        - 12th Grade</p>
<p><span class="bold accent-text">Addie Peterson </span>      -                Grace Christian  -  11th Grade</p>
<p><span class="bold accent-text">Ella Pinchok   </span>      -                   Farragut      -       9th Grade</p>
<p><span class="bold accent-text">Sophie Susano  </span>      -               Catholic          -     12th Grade</p>
<br />
<p>Come see these artists perform at the Bijou on January 11 at 7pm</p>
</div>
