<div class="event_page-wrapper">
  <div class="event_main-heading">ACE Acting Awards</div>
  <div class="event_secondary-heading">RESULTS for JANUARY 26, 2020</div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <p>First a big thank you to all our contestants, to our ACE volunteers, to the teachers and parents who encouraged
  students to sign up, and especially to the <span class="bold accent-text">Clarence Brown Theatre</span> and the <span class="bold accent-text">Oak Ridge Playhouse</span> for providing the
  judges. We are also very grateful to the <span class="bold accent-text">University of Tennessee</span> for hosting this year's contest.
</p>
<p>Here are the winners:</p>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="event_secondary-heading">Comedic Monologue</div>
  <div *ngFor="let student of comedicStudents">
    <p><mat-chip *ngIf="student.notes === 'winner'" color="accent" selected>Winner!</mat-chip>
      <span class="bold accent-text">{{student.name}}</span> - {{student.school}}</p>
    <p *ngIf="student.notes === 'winner'" class="bold">Order of Distinction:</p>
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="event_secondary-heading">Dramatic Monologue</div>
  <div *ngFor="let student of dramaticStudents">
    <p><mat-chip *ngIf="student.notes === 'winner'" color="accent" selected>Winner!</mat-chip>
      <span class="bold accent-text">{{student.name}}</span> - {{student.school}}</p>
    <p *ngIf="student.notes === 'winner'" class="bold">Order of Distinction:</p>
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="event_secondary-heading">Shakespeare Monologue</div>
  <div *ngFor="let student of shakespeareStudents">
    <p><mat-chip *ngIf="student.notes === 'winner'" color="accent" selected>Winner!</mat-chip>
      <span class="bold accent-text">{{student.name}}</span> - {{student.school}}</p>
    <p *ngIf="student.notes === 'winner'" class="bold">Order of Distinction:</p>
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="event_secondary-heading">Musical Theatre</div>
  <div *ngFor="let student of musicalStudents">
    <p><mat-chip *ngIf="student.notes === 'winner'" color="accent" selected>Winner!</mat-chip>
      <span class="bold accent-text">{{student.name}}</span> - {{student.school}}</p>
    <p *ngIf="student.notes === 'winner'" class="bold">Order of Distinction:</p>
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="event_secondary-heading">Team Competition</div>
  <p><mat-chip color="accent" selected>Winner!</mat-chip><span class="bold accent-text">Grace Christian Academy</span></p>
  <div *ngFor="let student of winningTeam">
    <p><span class="bold accent-text">{{student.name}}</span> - {{student.category}}</p>
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="event_secondary-heading">Best in Show</div>
  <p><mat-chip color="accent" selected>Winner!</mat-chip><span class="bold accent-text">Nevaeh Daniel</span> - Austin East Magnet</p>

</div>
