<div class="event_page-wrapper">
  <div class="event_main-heading">THEATRE CAMP</div>
  <div><img class="event_hero-img" src="assets/images/tcamp.jpg"></div>
  <div class="event_secondary-heading">for young people</div>

  <div class="spacer"></div>

  <div class="accent-banner">The Alliance for Creative Excellence is holding a Knoxville Theatre Workshop</div>
  <div class="spacer"></div>

  <p>
    Theatre Camp is designed to give
your child the full theatre experience.
<span class="bold accent-text">From physical, vocal and imaginative
improvisation, to writing, directing
and performing their own unique
show</span>, your child will do it all during
the course of this camp.
  </p>

  <div class="spacer"></div>

<div class="strong">
  March 28—May 2 (Six Saturdays)<br />
  Ages 6-9: 8am-11am<br />
  Ages 10-14: 1pm-4pm<br />
  Cost: $195
</div>
<div class="spacer"></div>

<p>Already registered? You can <a [routerLink]="['/pay']"><strong>pay online here</strong></a> to reserve your child's spot. If not,
register first, below.</p>
 <div class="spacer"></div>
  <!-- <mat-divider></mat-divider>
  <div class="spacer"></div> -->

  <div>
    The camp will take place at 4434 Middlebrook Pike.<br />
For more information contact Jay Apking (<a href="mailto:jay@aceknox.com">jay@aceknox.com</a>)
  </div>
  <div class="spacer"></div>



<div class="spacer"></div>
<mat-divider></mat-divider>
<div class="spacer"></div>

<form [formGroup]="signUpForm" #formDirective="ngForm"
  (ngSubmit)="onSubmit(signUpForm, formDirective)"
  id="signUpForm">
  <div formGroupName="userData">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput type="text" id="parent" formControlName="parent" class="formcontrol" placeholder="Name of Parent or Guardian" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" id="phone" placeholder="Phone" formControlName="phone" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" id="email" formControlName="email" class="formcontrol" placeholder="Email" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="med-width">
        <input matInput type="text" id="student1Name" formControlName="student1Name" class="formcontrol" placeholder="Student" required>
      </mat-form-field>
      <mat-form-field class="sm-width">
        <input matInput type="number" id="student1Age" formControlName="student1Age" class="formcontrol" placeholder="Age" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="med-width">
        <input matInput type="text" id="student2Name" formControlName="student2Name" class="formcontrol" placeholder="Student2" >
      </mat-form-field>
      <mat-form-field class="sm-width">
        <input matInput type="number" id="student2Age" formControlName="student2Age" class="formcontrol" placeholder="Age" >
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="med-width">
        <input matInput type="text" id="student3Name" formControlName="student3Name" class="formcontrol" placeholder="Student 3" >
      </mat-form-field>
      <mat-form-field class="sm-width">
        <input matInput type="number" id="student3Age" formControlName="student3Age" class="formcontrol" placeholder="Age" >
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="med-width">
        <input matInput type="text" id="student4Name" formControlName="student4Name" class="formcontrol" placeholder="Student 4" >
      </mat-form-field>
      <mat-form-field class="sm-width">
        <input matInput type="number" id="student4Age" formControlName="student4Age" class="formcontrol" placeholder="Age" >
      </mat-form-field>
    </div>
  </div>
  <div class="spacer"></div>
  <button mat-flat-button color="primary" type="submit" [disabled]="!signUpForm.valid || waiting">SUBMIT</button>
  <div class='progress-bar' *ngIf="waiting">
    <mat-progress-bar mode="indeterminate" color="accent" ></mat-progress-bar>
  </div>
  <div id="message">
    <div *ngIf="submitted && !signUpForm.touched" class="help-block">{{submitMsg}}</div>
    <div *ngIf="submitError" class="error">{{errorMsg}}</div>
  </div>
  <div class="spacer"></div>
  <button *ngIf="submitted && !signUpForm.touched" mat-flat-button color="accent" [routerLink]="['/pay']">{{'Pay Online' | uppercase}}</button>
</form>
</div>
