@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-accent: (
    50 : #f7e6ea,
    100 : #ebc0cb,
    200 : #dd96a9,
    300 : #cf6c87,
    400 : #c54d6d,
    500 : #bb2d53,
    600 : #b5284c,
    700 : #ac2242,
    800 : #a41c39,
    900 : #961129,
    A100 : #ffc7d0,
    A200 : #ff94a4,
    A400 : #ff6179,
    A700 : #ff4764,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// To style the material components
$ace-primary: mat-palette($mat-primary);
$ace-accent:  mat-palette($mat-accent);
$ace-theme: mat-light-theme($ace-primary, $ace-accent);


.ace-theme {
    @include angular-material-theme($ace-theme);

    // Theme colors:
    $primary: #000000;
    $accent: #bb2d53;
    $primary-dark: #002b36;
    $primary-light: #839496;
    $text-light: #ffffff;
    $text-dark:#002b36;
    $text-alt: #93a1a1;
    $red: #dc322f;
}

$primary: #000000;
$accent : #bb2d53;
$light : #ffffff;

.accent-text {
  color: $accent;
}
.bold-accent-text {
  color: $accent;
  font-weight: 700;
}


@include angular-material-theme($ace-theme);
