@import './ace.scss';

html {
	box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
    font-size: 5rem;
    font-weight: 300;
    margin: 1rem;
}

h2 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .85rem;
}

h4 {
    font-size: 2.15rem;
    font-weight: 400;
    margin-bottom: .7rem;
}

h5 {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

h6 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .3rem;
}

p {
    font-weight: 400;
    margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}

.reference {
    font-size: .95rem;
}

// .citation {
//     font-size: .95rem;
//     line-height: .5rem;
// }

// hr {
//     opacity: .3;
//     margin: 1.5rem 0;
// }

// .footnotes {
//     font-size: 1.2rem;
//     line-height: 1.15;
// }

// .footnote-indicator {
//     position: relative;
//     top: 4px;
//     margin-top: -4px;
// }

a, a:visited {
    color: $primary;
    font-weight: 500;
    text-decoration: underline;
}

// .blockquote {
//     margin-left: 20px;
//     border-left: 2px solid;
//     padding-left: 10px;
// }

.event-page-wrapper {
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  font-size: 1rem;
  max-width: 850px;
}

.event-section-header {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.5rem 0 .5rem 0;
  color: $accent;
}
.main-heading {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 1rem;
}
.secondary-heading {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: .7rem;
}
.hero {
  margin-bottom: 1rem;
  height: auto;
  width: 100%;
}
.spacer {
  height: 1.5rem;
}

/////
.primary {
  color: $primary;
}
.accent {
  color: $accent;
}

// Logo
#ace-logo {
  width: 100%;
  height: auto;
  max-height: 142px;
  min-width: 225px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
// Hamburger
#hamburger-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
}
#hamburger-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
}
//menu
.mat-menu-item {
  font-size: 1.1rem !important;
  font-weight: 300 !important;

  &:hover {
    background-color: $accent !important;
    color: $light !important;
  }
}

@-moz-document url-prefix() {
  .mat-menu-item {
    font-weight: 400 !important;
  }
}
#full-menu {
  position: relative;
  top: 20px;
  float: right;

  background: $primary !important;
  border-radius: 5px;

  button {
    display: inline-block;
    width: unset;
    border-radius: 5px;
    color: $light!important;
  }
}
@media (min-width: 500px) {
  .event-page-wrapper {
    font-size: 1.2rem;
  }
  .event-section-header {
    font-size: 1.4rem;
  }
  .main-heading {
    font-size: 3rem;
  }
}

@media (min-width: 620px) {
  .event-page-wrapper {
    font-size: 1.3rem;
  }
  .main-heading {
    font-size: 4rem;
  }
  .secondary-heading {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .mat-menu-item {
    font-size: 1rem !important;
  }

  @-moz-document url-prefix() {
    .mat-menu-item {
      font-size: .93rem !important;
    }
  }
}

@media (min-width: 820px) {
  .mat-menu-item {
    font-size: 1.1rem !important;
  }
}
