@import './ace.scss';

// Basic html settings
html {
	box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  min-width: 305px;
}

h1 {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h2 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .85rem;
}

h4 {
    font-size: 2.15rem;
    font-weight: 400;
    margin-bottom: .7rem;
}

h5 {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

h6 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}

.smaller-text {
  font-size: smaller;;
}

.left-justify {
  text-align: left;
  padding: 0 10px;
}
/////////////////////////////////////////////////

// Theme settings

#main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 76%;
}

#banner-wrapper {
  // max-height: 100px;
  -webkit-max-height: 100px;
}

// Event pages
.event_page-wrapper {
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  font-size: 1rem;
  max-width: 850px;
}
.event_page-wrapper-photos {
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  font-size: 1rem;
  max-width: 1100px;
}
.gallery_page-wrapper {
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  font-size: 1rem;
}
.event_main-heading {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1rem;
  // text-align: center;
}
.event_secondary-heading {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: .7rem;
}
.event_tagline {
	margin: -10px 0 20px 0;
	font-size: 90%;
}
.event_hero-img {
  margin-bottom: 1rem;
  height: auto;
  width: 100%;
}
.event_section-header {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.5rem 0 .5rem 0;
  color: $accent;
}

.reference {
    font-size: .95rem;
}

.quote {
  font-style: italic;
  margin: 10px 25px;
}

.progress-bar {
  width: 150px;
  margin: 20px auto -20px auto
}

.highlighted-message {
  background-color: $accent;
  color: white;
}

.citation {
    font-size: .95rem;
    line-height: .5rem;
}

hr {
    opacity: .15;
    margin: 1.5rem 0;
}

a, a:visited {
    color: $accent;
    font-weight: 500;
    text-decoration: underline;
}

.accent-text {
  color: $accent;
}
.bold {
  font-weight: 700;
}
.spacer {
  height: 1.5rem;
}

.underline {
  text-decoration: underline;
}
.button-row {
  margin: 1.5rem auto;
}

.pointer {
  cursor: pointer;
  outline: none;
}

.announcement {
  text-align: center;
  margin: 10px auto;
  background: $accent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  // max-width: 100px;
  font-weight: 500;
  // cursor: pointer;
  font-size: 1rem;

  a {
    color: white;
    text-decoration: none;
  }
}

.accent-banner {
  text-align: center;
  margin: 10px auto;
  background: $accent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
}

// Logo
#ace-logo {
  width: 100%;
  min-width: 225px;
  height: auto;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
// Hamburger
#hamburger-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
}
#hamburger-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
}
//menu

.accent {
  background-color: $accent !important;
}

.mat-menu-item {
  font-size: 1.1rem !important;
  font-weight: 300 !important;

  &:hover {
    background-color: $accent !important;
    color: $light !important;
  }
}
.italic {
  font-style: italic;
}
mat-chip {
  padding: 5px;
  border-radius: 15px;
  margin-right: 10px;
}

@-moz-document url-prefix() {
  .mat-menu-item {
    font-weight: 400 !important;
  }
}

#full-menu {
  position: relative;
  top: 20px;
  float: right;

  background: $primary !important;
  border-radius: 5px;

  button {
    display: inline-block;
    width: unset;
    border-radius: 5px;
    color: $light!important;
  }
}
@media (min-width: 500px) {
  .event_page-wrapper, .event_page-wrapper-photos {
    font-size: 1.2rem;
  }
  .event_main-heading {
    font-size: 3rem;
  }
  .event_section-header {
    font-size: 1.4rem;
  }
}

@media (min-width: 620px) {
  .event_page-wrapper, .event_page-wrapper-photos {
    font-size: 1.3rem;
  }
  .event_main-heading {
    font-size: 4rem;
  }
  .event_secondary-heading {
    font-size: 2rem;
  }
  .left-justify {
    text-align: left;
    padding: 0 80px;
  }
}

@media (min-width: 768px) {
  .mat-menu-item {
    font-size: 1rem !important;
  }

  @-moz-document url-prefix() {
    .mat-menu-item {
      font-size: .93rem !important;
    }
  }
}

@media (min-width: 920px) {
  .mat-menu-item {
    font-size: 1.1rem !important;
  }
}

