<div class="event_page-wrapper">
  <div class="smaller-text">Announcing...</div>
  <div class="event_main-heading bold title">
    The <span class="accent-text">ACE Awards</span> 
    at the Clarence Brown Theatre
  </div>
  <div>A <span class="bold accent-text">theatre contest</span> open to 
    <span class="bold accent-text">high school students</span> from 
    Knox and surrounding counties
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="bold event_secondary-heading">Sunday January 9, 2022</div>
  <div class="bold">Alumni Memorial Building (AMB) Room 209 
    <a href="https://www.google.com/maps/place/Alumni+Memorial+Bldg,+1408+Middle+Dr,+Knoxville,+TN+37996/@35.9561045,-83.9284634,17z/data=!3m1!4b1!4m5!3m4!1s0x885c17e736ea0743:0xe23fc95c7f830f6!8m2!3d35.9561045!4d-83.9262747" target="_blank">(map)</a>
  </div>
  <div class="smaller-text">Performance times will be by appointment. 
    This is a non-audience event.
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div id="categories">
    <div class="event_main-heading bold title accent-text">Awards in Five Categories</div>
    <div class="bold">Best Contemporary Comedic Monologue</div>
    <div class="bold accent-text">Best Contemporary Dramatic Monologue</div>
    <div class="bold">Best Shakespeare or Classical Monologue</div>
    <div class="bold accent-text">Best Musical Theatre Song</div>
    <div class="bold">Best Overall Acting Award<span class="bold accent-text">*</span></div>
    <div class="smaller-text">
      <span class="bold accent-text">*</span>A student can win no more than one 
      of the five awards. However, students can enter multiple categories and the 
      contest is free.
    </div>
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="bold event_secondary-heading">Awards are <span class="accent-text">$500</span> 
    to the winning student and <span class="accent-text">$200</span> to their high school 
    theatre program.
  </div>
  <div class="rules">
    Monologues and songs must be under 2 minutes in length. Each participant gets 6 minutes 
    to perform and respond to an adjustment. This is a non-audience event. All participants 
    work with the four adjudicators only in the room.
  </div>
  <div>
    <a href="https://forms.gle/2qgbsTCg4mhxhr8m9" target="_blank">Register here</a> now through January 5 
  </div>  

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div>Brought to you by <span class="bold accent-text">ACE</span> and:</div>
  <div id="sponsors">
    <img src="/assets/images/homepage/cbt.png">
    <img src="/assets/images/homepage/ut-theatre.png">
    <img src="/assets/images/homepage/tc.png">
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>
</div>
