<div class="event_page-wrapper">
  <div class="event_main-heading bold title">
    The <span class="accent-text">ACE Awards</span>
    at the Clarence Brown Theatre
  </div>
  <div>
    A <span class="bold accent-text">theatre contest</span> featuring
    <span class="bold accent-text">high school students</span> from Knox and
    surrounding counties
  </div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="bold event_secondary-heading">Sunday April 3, 2022</div>
  <div class="bold">The Results</div>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div>
    <div class="bold accent-text">Best Contemporary Comedic Monologue</div>
    <div>Jacob Leon - Bearden</div>
    <div class="spacer"></div>
    <div class="bold accent-text">Best Contemporary Dramatic Monologue</div>
    <div>McKenzie Jordan - Bearden</div>
    <div class="spacer"></div>

    <div class="bold accent-text">Best Shakespeare or Classical Monologue</div>
    <div>Jack Lloyd - Oak Ridge</div>
    <div class="spacer"></div>

    <div class="bold accent-text">Best Musical Theatre Song</div>
    <div>Jasmyne Simpkins - Homeschool</div>
    <div class="spacer"></div>

    <div class="bold accent-text">Best Overall Performance</div>
    <div>Javier Castro - Bearden</div>
    <div class="spacer"></div>

    <div class="rules">
      A BIG congratulations to all of these performers, and thanks so much for
      every student that participated!
    </div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>

    <div>Brought to you by <span class="bold accent-text">ACE</span> and:</div>
    <div id="sponsors">
      <img src="/assets/images/homepage/cbt.png" />
      <img src="/assets/images/homepage/ut-theatre.png" />
      <img src="/assets/images/homepage/tc.png" />
    </div>

    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
  </div>
</div>
