<div class="event_page-wrapper-photos">
    <div class="text-wrapper">
        <!-- <div class="event_secondary-heading">Matt Lytle</div> 
        <p [style.margin-bottom.px]="20" class="announcement">
            Banner text goes here if we use the banner :) 
        </p> -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxFlex="40" fxFlex.sm="100">
                <img class="coach img-jay" src='assets/images/coaches/Jay_Headshot_2.jpg'>    
            </div>
            <div fxFlex="60" fxFlex.sm="100"  class="bio">
                <p><span class="event_secondary-heading accent-text bold">Jay Apking</span> is the <span class="accent-text bold">
                creator and artistic director of ACE</span>. He is a professional actor, director and teacher currently 
                residing in Knoxville, Tennessee.</p>
                <p><span class="accent-text bold">As an actor</span>, Jay has performed for companies in Chicago, 
                Cincinnati and Virginia's Barter Theatre, including a tour that took him to Russia.</p>
                <p>
                    Favorite roles include <span class="accent-text bold">Hamlet, Benedick in <i>Much Ado About Nothing</i>, Mark Antony in 
                        <i>Julius Caesar</i>, and Wiley in <i>Wiley and The Hairy Man</i></span>.
                </p>
                <p>He has directed dozens of plays <span class="accent-text bold">from Shakespeare's <i>Romeo & Juliet</i> to 
                Mamet's <i>Oleanna</i></span>, and has been teaching and coaching theatre in various states for over 25 years. </p>
                <p>Jay created <span class="accent-text bold">The Janus Project</span> in Cincinnati - a theatre dedicated to education and performance in the arts. </p>
            </div>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="video-intro">
            See Jay's teaching process in this video where he works through a Shakespeare monologue with Lily Kate Corley.
        </div>

        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KWh2L95TP80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <div class="spacer"></div>

        <div class="class-grid">
            <div class="class-header">
                <h4 class="accent-text">Shakespeare Monologues Made Easy - with Jay Apking</h4>
                <div class="class-subtitle">Performing a Shakespeare monologue is not intimidating at all if you have the right formula. Let Jay show you how to choose, understand, and polish a Shakespeare monologue that is perfect for you.</div>
            </div>

            <div class="class-weekly">
                <h6><span class="bold">Weekly Layout:</span></h6>
                    <p><span class="bold">WEEK 1:</span> Introductions and Monologue Choices</p>
                    <p><span class="bold">WEEK 2:</span> Table Work - Breaking the monologue down with the <span class="accent-text bold">ACE formula</span></p>
                    <p><span class="bold">WEEK 3:</span> First Read and Off-book Performance</p>
                    <p><span class="bold">WEEK 4:</span> Physicality - Using the Space and <span class="accent-text bold">How to Audition</span></p>
                    <p><span class="bold">WEEK 5:</span> Final Performance - A Polished Piece with Final Feedback</p>
                
            </div>
            <div class="class-dates-times">
                <h6><span class="bold">Session 1:</span></h6>
                <p>Mondays on Zoom</p>
                <p class="accent-text bold">July 6th - August 3rd</p>
                <p>4pm-5pm EDT</p>
                <p class="accent-text bold">$75 entry fee</p>
                <p>Maximum: 4 participants</p>
                <button mat-flat-button color="accent" class="register" [routerLink]="['../checkout/jay']">Register now</button>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
    <div [routerLink]="['../']" class="pointer">Return to coaching page</div>

</div>