<div class="event_page-wrapper-photos">
    <div class="text-wrapper">
        <!-- <div class="event_secondary-heading">Matt Lytle</div> 
        <p [style.margin-bottom.px]="20" class="announcement">
            Banner text goes here if we use the banner :) 
        </p> -->
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxFlex="40" fxFlex.sm="100">
                <img class="coach img-jay" src='assets/images/coaches/Jay_Headshot_2.jpg'>    
            </div>
            <div fxFlex="60" fxFlex.sm="100"  class="bio">
                <p><span class="event_secondary-heading accent-text bold">Jay Apking</span> is the <span class="accent-text bold">
                creator and artistic director of ACE</span>. He is a professional actor, director and teacher currently 
                residing in Knoxville, Tennessee.</p>
                <p><span class="accent-text bold">As an actor</span>, Jay has performed for companies in Chicago, 
                Cincinnati and Virginia's Barter Theatre, including a tour that took him to Russia.</p>
                <p>
                    Favorite roles include <span class="accent-text bold">Hamlet, Benedick in <i>Much Ado About Nothing</i>, Mark Antony in 
                        <i>Julius Caesar</i>, and Wiley in <i>Wiley and The Hairy Man</i></span>.
                </p>
                <p>He has directed dozens of plays <span class="accent-text bold">from Shakespeare's <i>Romeo & Juliet</i> to 
                Mamet's <i>Oleanna</i></span>, and has been teaching and coaching theatre in various states for over 25 years. </p>
                <p>Jay created <span class="accent-text bold">The Janus Project</span> in Cincinnati - a theatre dedicated to education and performance in the arts. </p>
            </div>
        </div>
        <div [routerLink]="['../']" class="pointer">Return to coaching page</div>
        <div>
            <div>Shakespeare Monologues Made Easy - with Jay Apking</div>

<div>Performing a Shakespeare monologue is not intimidating at all if you have the right formula. Let Jay show you how to choose, understand, and polish a Shakespeare monologue that is perfect for you.</div>

<ul>Weekly Layout:
<li>WEEK 1: Introductions and Monologue Choices</li>
<li>WEEK 2: Table Work - Breaking the monologue down with the ACE formula</li>
<li>WEEK 3: First Read and Off-book Performance</li>
<li>WEEK 4: Physicality - Using the Space and How to Audition</li>
<li>WEEK 5: Final Performance - A Polished Piece with Final Feedback</li>
</ul>
<p>Session 1 -</p> 
<p>Mondays on Zoom</p>
<p>July 6th - August 3rd</p>
<p>4pm-5pm</p>
<p>$75 entry fee</p>
<p>Maximum: 4 participants</p>
        </div>
    </div>
</div>